<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="app-admin-only__section">
      <div class="app-admin-only__section-header">
        <%= govuk_tag(text: "Admin feature", colour: "purple") %>
      </div>
      <%= form_with url: providers_search_path,
                    method: :get do |form| %>
        <%= form.label :query, {class: "govuk-label", for: "provider"} do %>
          Search for an organisation
          <span class="govuk-hint">Enter the name or provider code</span>
          <% if flash[:error] && flash[:error]["message"] == "Name or provider code" %>
            <span class="govuk-error-message" id="provider-error" data-qa="provider-error">
              <%= "Please enter the name or provider code" %>
            </span>
          <% end %>
        <% end %>
        <%= form.text_field :query,
                            id: "provider",
                            value: params[:query],
                            class: "govuk-input govuk-!-width-two-thirds",
                            data: {qa: "provider-search"} %>
        <div id="provider-autocomplete" class="govuk-body govuk-!-width-two-thirds"></div>
        <%= form.submit "Search", name: nil, class: "govuk-button", data: {qa: "find-providers"} %>
      <% end %>
    </div>
  </div>
</div>
