<%= content_for :page_title, "#{@errors.present? ? "Error: " : ""}Edit 'About your organisation'" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year)) %>
<% end %>

<%= render 'shared/errors' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">
        <%= @provider.provider_name %>
      </span>
      About your organisation
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Tell applicants why they should choose to train with you. Say:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>who you are</li>
      <li>who you work with</li>
    </ul>

    <p class="govuk-body">
      You could mention:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your key values</li>
      <li>your specialisms</li>
      <li>your past achievements (eg student successes, Ofsted ratings)</li>
    </ul>

    <p class="govuk-body">
      Be specific with any claims you make, and support them with evidence. For example:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>don’t say “our students are some of the happiest in the country”</li>
      <li>
        do say “the Times Educational Supplement ranked our students as 4th
        happiest in the country”
      </li>
    </ul>

    <%= form_with model: @provider,
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder,
                  url: about_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year),
                  method: :put do |f| %>
      <%= f.hidden_field :page, value: :about %>

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="250">
        <%= render "shared/form_field",
          form: f, field: :train_with_us, label: 'Training with you', label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 15, class: 'govuk-textarea govuk-js-character-count') %>
        <% end %>
      </div>

      <% if provider.accredited_bodies.present? %>
        <h2 class="govuk-heading-l" id="accredited_bodies-error">About your accredited body</h2>

        <p id="about-training-provider-hint" class="govuk-body">
          Tell applicants about your accredited body - you could mention their academic specialities and achievements. Be specific with the claims you make, and support with them evidence.
        </p>

        <% provider.accredited_bodies.each_with_index do |provider,index| %>
          <%= f.hidden_field "accredited_bodies[][provider_name]", value: provider["provider_name"], id: nil %>
          <%= f.hidden_field "accredited_bodies[][provider_code]", value: provider["provider_code"], id: nil %>
          <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="100">
            <%= render "shared/form_field",
              form: f,
              field: "accredited_bodies[][description]",
              label: "#{provider['provider_name']} (optional)",
              id: "accredited_bodies[#{index}][description]",
              label_bold: true do |field, options| %>
              <%= f.text_area field, options.merge(
                value: provider['description'],
                rows: 10,
                class: 'govuk-textarea govuk-js-character-count'
              ) %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-l">Training with disabilities and other needs</h2>

      <p class="govuk-body">
        Say how you support candidates with disabilities and other needs. This could include candidates with:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>dyslexia</li>
        <li>physical, hearing and visual impairments</li>
        <li>mental health conditions</li>
      </ul>
      <p class="govuk-body">
        If accessibility varies between locations, give details. It’s also useful for applicants to know how you’ve accommodated others with specific access needs in the past.
      </p>

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="250">
        <%= render "shared/form_field",
          form: f, field: :train_with_disability, label: 'Training with disabilities and other needs', label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 15, class: 'govuk-textarea govuk-js-character-count') %>
        <% end %>
      </div>

      <hr class="govuk-section-break govuk-section-break--l">
      <p class="govuk-body">Changes will appear on Find postgraduate teacher training within 2 hours.</p>
      <%= f.submit "Save and publish changes", class: "govuk-button" %>
    <% end %>

    <div class="form-group">
      <p class="govuk-body">
        <%= govuk_link_to "Cancel changes", details_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year) %>
      </p>
    </div>
  </div>
</div>
