<%= content_for :page_title, title_with_error_prefix("About your organisation", @errors.present?) %>
<%= content_for :before_content, render_breadcrumbs(:organisation_details) %>

<% if Settings.features.rollover.prepare_for_next_cycle %>
  <%= govuk_notification_banner(title: t('notification_banner.prepare_for_next_cycle.title')) do |notification_banner| %>
    <%= notification_banner.slot(:heading, text: t('notification_banner.prepare_for_next_cycle.prompt')) %>
    <p class="govuk-body"><%= govuk_link_to(
      t('notification_banner.prepare_for_next_cycle.link'),
      '#',
    ) %></p>
  <% end %>
<% end %>

<% if @errors.present? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" data-ga-event-form="error">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @errors.each do |id, messages| %>
          <% messages.each do |message| %>
            <li data-error-message="<%= message %>">
              <a href="<%= provider_enrichment_error_url(
                provider: @provider,
                field: id,
              ) %>"><%= message %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l"><%= @recruitment_cycle.title %></span>
  About your organisation
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      <%= govuk_link_to "Contact details", contact_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year) %>
    </h2>
    <%= govuk_summary_list(classes: "app-summary-list--short") do |summary_list| %>
      <% summary_list.slot(:row, enrichment_summary(:provider, "Email address", @provider.email, %w[email])) %>
      <% summary_list.slot(:row, enrichment_summary(:provider, "Telephone number", @provider.telephone, %w[telephone])) %>
      <% summary_list.slot(:row, enrichment_summary(:provider, "Website", @provider.website, %w[website])) %>
      <% summary_list.slot(:row, enrichment_summary(:provider, "Contact address", @provider.full_address, %w[address1 address2 address3 address4 postcode])) %>
      <% summary_list.slot(:row, enrichment_summary(:provider, "UKPRN", @provider.ukprn, %w[ukprn])) %>
    <% end %>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to "About your organisation", about_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year) %>
    </h2>
    <%= govuk_summary_list(classes: "app-summary-list--short") do |summary_list| %>
      <% summary_list.slot(:row, enrichment_summary(:provider, "About your organisation", @provider.train_with_us, %w[train_with_us])) %>
      <% if provider.accredited_bodies.present? %>
        <% provider.accredited_bodies.each do |provider| %>
          <% summary_list.slot(:row, enrichment_summary(:provider, "#{provider['provider_name']} (optional)", provider["description"], ["accrediting_provider_#{provider['provider_code']}"])) %>
        <% end %>
      <% end %>
      <% summary_list.slot(:row, enrichment_summary(:provider, "Training with disabilities and other needs", @provider.train_with_disability, %w[train_with_disability])) %>
      <% if Providers::VisaSponsorshipService.new(provider).visa_sponsorship_enabled? %>
        <% summary_list.slot(:row, enrichment_summary(
          :provider,
          "Visa sponsorship",
          visa_sponsorship_status(@provider),
          %w[can_sponsor_student_visa can_sponsor_skilled_worker_visa],
          truncate_value: false,
          change_link: provider.declared_visa_sponsorship? ? provider_recruitment_cycle_visas_path(@provider.provider_code, @provider.recruitment_cycle_year) : nil,
          change_link_visually_hidden: " if you can sponsor visas",
        )) %>
      <% end %>
    <% end %>
  </div>

  <aside class="govuk-grid-column-one-third" data-qa="provider__status_panel">
    <div class="app-status-box">
      <h2 class="govuk-heading-m">View on a course</h2>
      <p class="govuk-body">This information will show on all your courses.</p>
      <p class="govuk-body">View any course to see how it looks to applicants.</p>
    </div>
  </aside>
</div>
