<%= content_for :page_title, "#{@errors.present? ? "Error: " : ""}About your organisation" %>
<%= content_for :before_content, render_breadcrumbs(:organisation_details) %>

<% if @errors.present? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" data-ga-event-form="error">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      You’ll need to correct some information.
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @errors.each do |id, messages| %>
          <% messages.each do |message| %>
            <li data-error-message="<%= message %>">
              <a href="<%= provider_enrichment_error_url(
                provider: @provider,
                field: id
              ) %>"><%= message %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">
        <%= @provider.provider_name %>
      </span>
      About your organisation
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-summary-list govuk-summary-list--short">
      <h3 class="govuk-heading-m govuk-!-font-size-27">
        <%= govuk_link_to "Contact details", contact_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year) %>
      </h3>
      <dl class="govuk-summary-list">
        <%= enrichment_summary_item(:provider, 'Email address', @provider.email, ['email']) %>
        <%= enrichment_summary_item(:provider, 'Telephone number', @provider.telephone, ['telephone']) %>
        <%= enrichment_summary_item(:provider, 'Website', @provider.website, ['website']) %>
        <%= enrichment_summary_item(:provider, 'Contact address', @provider.full_address, ['address1', 'address2', 'address3', 'address4', 'postcode']) %>
      </dl>
    </div>

    <div class="govuk-summary-list govuk-summary-list--short">
      <h3 class="govuk-heading-m govuk-!-font-size-27">
        <%= govuk_link_to "About your organisation", about_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year) %>
      </h3>
      <dl class="govuk-summary-list">
        <%= enrichment_summary_item(:provider, 'About your organisation', @provider.train_with_us, ['train_with_us']) %>
        <% if provider.accredited_bodies.present? %>
          <% provider.accredited_bodies.each do |provider| %>
          <%= enrichment_summary_item(:provider, "#{provider['provider_name']} (optional)", provider['description'], ["accrediting_provider_#{provider['provider_code']}"]) %>
          <% end %>
        <% end %>
        <%= enrichment_summary_item(:provider, 'Training with disabilities and other needs', @provider.train_with_disability, ['train_with_disability']) %>
      </dl>
    </div>
  </div>

  <aside class="govuk-grid-column-one-third" data-qa="provider__status_panel">
    <div class="app-related">
      <div class="govuk-!-margin-bottom-6" data-qa="provider__content-status">
        <%= provider.status_tag %>
      </div>
      <% if @provider&.last_published_at %>
        <p class="govuk-body">Last published on <%= l(@provider&.last_published_at.to_date) %></p>
      <% end %>

      <h2 class="govuk-heading-m">View on a course</h2>
      <p class="govuk-body">This information will show on all your courses.</p>
      <p class="govuk-body">View any course to see how it will look to applicants.</p>

      <% unless @provider.is_published? %>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
        <% if @recruitment_cycle.current? %>
          <h2 class="govuk-heading-m">Publish</h2>
          <p class="govuk-body">You can make changes to this after publishing it.</p>
          <%= form_for provider, url: publish_provider_recruitment_cycle_path(provider.provider_code, provider.recruitment_cycle_year), method: :post do |f| %>
            <%= f.submit "Publish", class: "govuk-button govuk-!-margin-bottom-0", data: { qa: 'provider__publish' } %>
          <% end %>
        <% else %>
          <p class="govuk-body">You will be able to publish your changes in September before the next cycle opens.</p>
        <% end %>
      <% end %>
    </div>
  </aside>
</div>
