<% content_for :page_title, @provider.provider_name %>
<% if @has_multiple_providers %>
  <%= content_for :before_content, render_breadcrumbs(:provider) %>
<% end %>

<%= render GovukComponent::NotificationBannerComponent.new(title_text: 'Important') do |notification_banner| %>
  <span class="govuk-body"><strong>This service will be unavailable on Monday 11 October for a short period between 8pm and 9pm, while we carry out maintenance</strong></span><br><br>

  <span class="govuk-body">If you have any questions, contact us at <%= bat_contact_mail_to %></span>
<% end %>

<%= render GovukComponent::NotificationBannerComponent.new(title_text: 'Important') do |notification_banner| %>
  <span class="govuk-body"><strong>Publish your courses so that candidates can view them on Find.</strong></span><br><br>

  <span class="govuk-body">Do this by selecting your course, check and edit the details, then click the “Publish” button.</span>
<% end %>

<h1 class="govuk-heading-l"><%= @provider.provider_name %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @provider.rolled_over? %>
      <%= render partial: "show_during_rollover" %>
    <% else %>
      <%= render partial: "recruitment_cycles/about_organisation", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/courses_info", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/courses_accredited_body", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/locations_info", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/allocations", locals: { provider: @provider, year: Settings.current_cycle } %>
    <% end %>
  </div>
  <%= render partial: "shared/aside_information_box" %>
</div>
