<%= content_for :page_title, @provider.provider_name %>
<% if @has_multiple_providers %>
  <%= content_for :before_content, render_breadcrumbs(:provider) %>
<% end %>

<h1 class="govuk-heading-xl"><%= @provider.provider_name %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @provider.rolled_over? %>
      <h2 class="govuk-heading-m">
        <%= link_to "Current cycle (#{Settings.current_cycle} - #{Settings.current_cycle + 1})",
                          provider_recruitment_cycle_path(@provider.provider_code, Settings.current_cycle),
                          data: { qa: 'provider__courses__current_cycle' },
                          class: "govuk-link" %>
      </h2>
      <p class="govuk-body">Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>manage courses in the current cycle</li>
        <li>edit locations and vacancies in the current cycle</li>
      </ul>

      <h2 class="govuk-heading-m">
        <%= link_to "Next cycle (#{Settings.current_cycle + 1} - #{Settings.current_cycle + 2})",
                          provider_recruitment_cycle_path(@provider.provider_code, Settings.current_cycle + 1),
                          data: { qa: 'provider__courses__next_cycle' },
                          class: "govuk-link" %>
      </h2>
      <p class="govuk-body">Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>prepare courses for the next cycle</li>
        <li>manage locations needed for the next cycle</li>
      </ul>
    <% else %>
      <p class="govuk-body">For the new cycle (<%= @recruitment_cycle.year_range %>) you must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>publish your provider provile (in ‘About your organisation’)</li>
        <li>publish your course descriptions</li>
        <li>remove any references to the literacy and numeracy skills tests - candidates starting training in 2020 won’t need to take these</li>
      </ul>
      <p class="govuk-body">Publish your courses and they will be listed on <%= govuk_link_to "Find postgraduate teacher training", Settings.search_ui.base_url %> from 1 October.</p>
      <p class="govuk-body">Applications will open on 8 October.</p>
      <p class="govuk-body govuk-!-margin-bottom-8">Candidates can only apply to published courses.</p>

      <%= render partial: 'recruitment_cycles/about_organisation', locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: 'recruitment_cycles/courses_info', locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: 'recruitment_cycles/locations_info', locals: { provider: @provider, year: Settings.current_cycle } %>
    <% end %>
  </div>
  <aside class="govuk-grid-column-one-third">
    <div class="app-related">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><%= govuk_link_to "Request access", request_access_provider_path(code: @provider.provider_code) %></h2>
      <p class="govuk-body">Request a DfE Sign-in account for others who manage your courses.</p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><%= govuk_link_to "UCAS contacts", ucas_contacts_provider_path(code: @provider.provider_code) %></h2>
      <p class="govuk-body">Update or request UCAS contact details.</p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><%= govuk_link_to "New features", new_features_path %></h2>
      <p class="govuk-body">View a list of new features we are working on.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <h2 class="govuk-heading-s">Support and guidance</h2>
      <p class="govuk-body">If you have a question, or you’ve had a problem using Publish, you can email:</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><%= bat_contact_mail_to bat_contact_email_address_with_wrap, subject: "Support and guidance" %></p>
    </div>
  </aside>
</div>
