<%= content_for :page_title, @provider.provider_name %>
<% if @has_multiple_providers %>
  <%= content_for :before_content, render_breadcrumbs(:provider) %>
<% end %>

<h1 class="govuk-heading-xl"><%= @provider.provider_name %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @provider.rolled_over? %>
      <%= render partial: "show_during_rollover" %>
    <% else %>
      <%= render partial: "recruitment_cycles/about_organisation", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/courses_info", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/courses_accredited_body", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/locations_info", locals: { provider: @provider, year: Settings.current_cycle } %>
      <%= render partial: "recruitment_cycles/allocations", locals: { provider: @provider, year: Settings.current_cycle } %>
    <% end %>
  </div>
  <aside class="govuk-grid-column-one-third">
    <div class="app-related">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><%= govuk_link_to "Users", users_provider_path(code: @provider.provider_code) %></h2>
      <p class="govuk-body">View users who manage your courses.</p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><%= govuk_link_to "UCAS contacts", provider_ucas_contacts_path(provider_code: @provider.provider_code) %></h2>
      <p class="govuk-body">Update or request UCAS contact details.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <h2 class="govuk-heading-s">Support and guidance</h2>
      <p class="govuk-body">If you have a question, or you’ve had a problem using Publish, you can email:</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><%= bat_contact_mail_to subject: "Support and guidance" %></p>
    </div>
  </aside>
</div>
