<div
  class="<%= cns("govuk-form-group", "govuk-!-margin-bottom-8", "govuk-form-group--error": @errors && @errors[subject]&.any?) %>"
  data-qa="course__<%= subject %>_requirements">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        <%= subject.to_s.titleize %> GCSE
      </h2>
    </legend>
    <%= render "shared/error_messages", field: subject if @errors %>
    <div class="govuk-radios govuk-radios--conditional">
      <% @course.meta['edit_options']['entry_requirements'].each do |value| %>
        <div class="govuk-radios__item">
          <%= form.radio_button subject,
                value,
                class: 'govuk-radios__input',
                data: {
                  'aria-describedby': "#{subject}-#{value}-help"
                }
          %>
          <%= form.label subject,
                t("edit_options.entry_requirements.#{value}.label"),
                value: value,
                class: 'govuk-label govuk-radios__label'
          %>
          <span id="<%= "#{subject}-#{value}-help" %>" class="govuk-hint govuk-radios__hint">
            <%= t("edit_options.entry_requirements.#{value}.help") %>
          </span>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>
