<% content_for :page_title, title_with_error_prefix("GCSE requirements for applicants – #{course.name_and_code}", course.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= render "shared/errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "courses/entry_requirements/page_intro" %>

    <%= form_with model: course,
                  url: entry_requirements_provider_recruitment_cycle_course_path(@course.provider_code, @course.recruitment_cycle_year, @course.course_code),
                  method: :put do |form| %>

      <%= render "form_fields", form: form, gcse_subjects_required: course.gcse_subjects_required %>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <p class="govuk-body">Changes will appear on UCAS Apply within 2 hours.</p>

      <%= form.submit "Save changes", class: "govuk-button", data: { qa: "course__save" } %>
    <% end %>
  </div>
</div>
