<%= content_for :page_title, "GCSE requirements for applicants" %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_courses_path(
    @provider.provider_code,
    @provider.recruitment_cycle_year
 )) %>
<% end %>

<%= render 'shared/errors' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">UCAS Apply</span>
      GCSE requirements for&nbsp;applicants
    </h1>

    <p class="govuk-body">
      By law, all applicants need GCSE grade C/grade 4, or an equivalent, in English and Mathematics – plus Science for Primary courses.
    </p>

    <p class="govuk-body">
      Candidates may still be taking a GCSE when they apply. Alternatively, they can take an equivalency test to demonstrate they have the required skills to start a course.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-8">
      The codes you pick determine how flexible you are towards those candidates.
    </p>
    <%= form_with model: course,
                  url: continue_provider_recruitment_cycle_courses_entry_requirements_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>


      <%= render 'shared/course_creation_hidden_fields',
        form: form,
        course_creation_params: @course_creation_params,
        except_keys: [:maths, :english, :science]
      %>
      <%= render 'form_fields', form: form, gcse_subjects_required: course.gcse_subjects_required %>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p class="govuk-body">
        <%= form.submit "Continue",
                      class: "govuk-button",
                      data: { qa: 'course__save' } %>
      </p>
    <% end %>
  </div>
</div>
