<%= content_for :page_title, "Is this a teaching apprenticeship?" %>

<% content_for :before_content do %>
  <% course_creation_back_button do %>
    <%= govuk_back_link_to(@back_link_path) %>
  <% end %>
<% end %>

<%= render 'shared/errors' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with url: continue_provider_recruitment_cycle_courses_apprenticeship_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>

      <%= render "courses/new_fields_holder", form: form, except_keys: [:program_type] do |fields| %>
        <%= render 'form_fields', form: fields, gcse_subjects_required: course.gcse_subjects_required %>
      <% end %>
    <% end %>
  </div>
</div>
