<%= content_for :page_title, "Degree subject" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to @backlink %>
<% end %>

<%= render "shared/errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      <span class="govuk-caption-xl"><%= course.name_and_code %></span>
      Degree subject
    </h1>

    <p class="govuk-body">Candidates will be advised that their degree subject should match or be closely related to Primary.</p>

    <%= form_with model: @subject_requirements_form, url: degrees_subject_requirements_provider_recruitment_cycle_course_path(
                    @course.provider.provider_code,
                    @course.provider.recruitment_cycle_year,
                    @course.course_code,
                  ),
                  method: :put,
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>

      <%= form.govuk_radio_buttons_fieldset :additional_degree_subject_requirements, legend: { text: "Do you have any additional degree subject requirements?" } do %>
        <%= form.govuk_radio_button :additional_degree_subject_requirements, false, label: { text: "No" }, data: { qa: "degree_subject_requirements__no_radio" }, link_errors: true %>
        <%= form.govuk_radio_button :additional_degree_subject_requirements, true, label: { text: "Yes" }, data: { qa: "degree_subject_requirements__yes_radio" } do %>
          <%= form.govuk_text_area :degree_subject_requirements, label: { text: "Degree subject requirements" }, data: { qa: "degree_subject_requirements__requirements" } %>
        <% end %>
      <% end %>

      <%= form.submit "Save", class: "govuk-button", data: { qa: "degree_subject_requirements__save" } %>
    <% end %>
  </div>
</div>
