<%= content_for :page_title, @recruitment_cycle.title %>
<%= content_for :before_content, render_breadcrumbs(:recruitment_cycle) %>

<h1 class="govuk-heading-xl">
  <%= @recruitment_cycle.title %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      View your courses and locations from the <%= @recruitment_cycle.year_range %> recruitment cycle.
    </p>
    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-m"><%= govuk_link_to "About your organisation", details_provider_recruitment_cycle_path(@provider.provider_code, params[:year]) %></h2>
    <h2 class="govuk-heading-m"><%= link_to "Courses", provider_recruitment_cycle_courses_path(@provider.provider_code, params[:year]), class: "govuk-link", data: { qa: 'provider__courses' } %></h2>
    <h2 class="govuk-heading-m"><%= link_to "Locations", provider_recruitment_cycle_sites_path(@provider.provider_code, params[:year]), class: "govuk-link", data: { qa: 'provider__locations' } %></h2>
  </div>
</div>
