<%= content_for :page_title, @recruitment_cycle.title %>

<% content_for :before_content do %>
  <nav class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <% if @has_multiple_providers then %>
        <li class="govuk-breadcrumbs__list-item">
          <%= link_to "Organisations", providers_path, class: "govuk-breadcrumbs__link" %>
        </li>
      <% end %>
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to @provider.provider_name, provider_path(@provider.provider_code), class: "govuk-breadcrumbs__link" %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <%= @recruitment_cycle.title %>
      </li>
    </ol>
  </nav>
<% end %>

<h1 class="govuk-heading-xl">
  <%= @recruitment_cycle.title %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @recruitment_cycle.next? %>
      <p class="govuk-body-l">
        Prepare your courses and locations for the next cycle. All your courses, locations and details have been copied from the current&nbsp;cycle.
      </p>
    <% else %>
      <p class="govuk-body-l">
        Manage courses, locations and vacancies in the current&nbsp;cycle.
      </p>
    <% end %>
    <hr class="govuk-section-break govuk-section-break--m">

    <%= render partial: 'recruitment_cycles/courses_info', locals: { provider: @provider, year: params[:year] } %>
    <%= render partial: 'recruitment_cycles/locations_info', locals: { provider: @provider, year: params[:year] } %>
  </div>
</div>
