
<% content_for :page_title, "PE courses for #{next_allocation_cycle_period_text}" %>
<%= content_for :before_content, render_breadcrumbs("allocations_closed") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">PE allocations for <%= next_allocation_cycle_period_text %></h1>

    <% if @allocations_view.confirmed_allocation_places.any? %>
      <p class="govuk-body">
        Organisations that offered fee-funded PE last year will receive the same amount of places for <%= next_allocation_cycle_period_text %>.
      </p>

      <p class="govuk-body">
        Organisations that are offering PE for the first time in <%= next_allocation_cycle_period_text %> will receive 50% of their request.
      </p>

      <p class="govuk-body">
        Organisations can now also publish PE with EBacc subject courses, and make them available for candidates to view on <%= link_to "Find postgraduate teacher training.", "https://www.gov.uk/find-postgraduate-teacher-training-courses"%>
      </p>

      <p class="govuk-body">
        Contact us at <%= bat_contact_mail_to %> if you have any questions.
      </p>

      <%= render partial: "providers/allocations/allocation_report_confirmed_state", locals: {
                 confirmed_allocations: @allocations_view.confirmed_allocation_places,
               } %>
    <% else %>
      <p class="govuk-body">
        You did not request any allocations for fee-funded PE courses for <%= next_allocation_cycle_period_text %>.
      </p>

      <p class="govuk-body">
        Any current PE courses (<%= current_allocation_cycle_period_text %>) that you have not requested allocations for will not run in <%= next_allocation_cycle_period_text %>.
      </p>

      <p class="govuk-body">
        Contact us at <%= bat_contact_mail_to %> if you have any questions.
      </p>
    <% end %>
  </div>
</div>
