<%= content_for :page_title, "Check your information before sending your request"%>

<% content_for :before_content do %>
  <%= govuk_back_link_to(initial_request_provider_recruitment_cycle_allocations_path(
                          @provider.provider_code,
                          @provider.recruitment_cycle_year,
                          training_provider_code: params[:training_provider_code],
                          number_of_places: params[:number_of_places],
                          change: true,
                          )) %>
<% end %>
<% legend = capture do %>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl"><%= training_provider.provider_name %></span>
            Check your information before sending your request
        </h1>
    </legend>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: provider_recruitment_cycle_allocation_path(
                      @provider.provider_code,
                      @provider.recruitment_cycle_year,
                      params[:training_provider_code],
                      params[:number_of_places]
                    ),
                    skip_enforcing_utf8: true do |form| %>

      <%= hidden_field_tag "training_provider_code", params[:training_provider_code]  %>
      <%= hidden_field_tag "number_of_places", params[:number_of_places] %>

      <fieldset class="govuk-fieldset">
        <%= legend %>

        <%= render "shared/error_wrapper", error_keys: [:check_your_information], data_qa: "allocation__check_your_information" do %>

        <div class="body-text">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Places requested
              </dt>
              <dd class="govuk-summary-list__value" id="number-of-places">
                <%= params[:number_of_places] %>
              </dd>
              <dd class="govuk-summary-list__actions">

                <%= link_to "Change",
                  initial_request_provider_recruitment_cycle_allocations_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year,
                    training_provider_code: params[:training_provider_code],
                    number_of_places: params[:number_of_places],
                    change: true,
                    ),
                  class: "govuk-link" %>
              </dd>
            </div>
          </dl>
        </div>

      <%= form.submit "Send request", class: "govuk-button" %>
      <% end %>
    <% end %>
  </div>
</div>
