<%= content_for :page_title, "Who are you requesting a course for?"%>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_allocations_path(provider.provider_code, provider.recruitment_cycle_year)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: form_object, scope: "", url: initial_request_provider_recruitment_cycle_allocations_path(
                      provider.provider_code,
                      provider.recruitment_cycle_year,
                    ),
                     skip_enforcing_utf8: true,
                     builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>

      <%= form.govuk_error_summary %>

      <%= form.govuk_radio_buttons_fieldset(:training_provider_code, legend: { size: 'xl', text: 'Who are you requesting a course for?' }) do %>
        <p class="govuk-body">
          This should be the name of the organisation offering the course - eg
          a lead school, or your own organisation if you’re offering it yourselves.
        </p>

        <% if training_providers.present? %>
          <% training_providers.each do |training_provider| %>
            <%= form.govuk_radio_button :training_provider_code,
              training_provider.provider_code,
              label: { text: training_provider.provider_name },
              link_errors: true %>
          <% end %>

          <%= form.govuk_radio_divider %>

          <%= form.govuk_radio_button :training_provider_code, "-1", label: { text: 'Find an organisation not listed above' } do %>
            <%= form.govuk_text_field :training_provider_query, label: { text: 'Organisation name' } do %>
              <div id="provider-autocomplete" class="govuk-body"></div>
            <% end %>
          <% end %>
        <% else %>
          <%= hidden_field_tag "training_provider_code", "-1" %>
          <%= form.govuk_text_field :training_provider_query, label: { text: 'Find an organisation' } %>
        <% end %>
      <% end %>

      <%= form.govuk_submit %>
    <% end %>
  </div>
</div>
