<%= content_for :page_title, "Pick a provider"%>

<% content_for :before_content do %>
  <%= govuk_back_link_to(initial_request_provider_recruitment_cycle_allocations_path(@provider.provider_code, @recruitment_cycle.year)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: initial_request_provider_recruitment_cycle_allocations_path(
                      @provider.provider_code,
                      @provider.recruitment_cycle_year,
                      params[:training_provider_code]
                    ),
                     skip_enforcing_utf8: true,
                     method: :get,
                     builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>

      <%= form.govuk_radio_buttons_fieldset(:training_provider, legend: { size: 'xl', text: 'Pick a provider' }) do %>
        <p class="govuk-body">
          You searched for "<%= params[:training_provider_query] %>". We found these providers that matched your search:
        </p>

        <% training_providers.each_with_index do |training_provider| %>
          <%= form.govuk_radio_button :training_provider_code,
            training_provider.provider_code,
            label: { text: training_provider.provider_name } %>
        <% end %>

        <%= form.govuk_radio_divider %>

        <%= form.govuk_radio_button :training_provider_code, "", label: { text: 'Try searching for another provider' } do %>
          <%= form.govuk_text_field :training_provider_query, label: { text: 'Organisation name' } %>
        <% end %>
      <% end %>

      <%= form.govuk_submit %>
    <% end %>

    <p class="govuk-body">
      To add a new provider to Publish, you should contact
      <%= bat_contact_mail_to %>
    </p>
  </div>
</div>
