<%= content_for :page_title, "How many places would you like to request?"%>

<% content_for :before_content do %>
  <%= govuk_back_link_to(initial_request_provider_recruitment_cycle_allocations_path) %>
<% end %>

<% legend = capture do %>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl"><%= @training_provider.provider_name %></span>
            How many places would you like to request?
        </h1>
    </legend>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <%= form_with url: initial_request_provider_recruitment_cycle_allocations_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year,
                  ),
                skip_enforcing_utf8: true,
                method: :get do |form| %>

      <%= hidden_field_tag "training_provider_code", params[:training_provider_code]  %>

      <fieldset class="govuk-fieldset">
        <%= legend %>

        <%= render "shared/error_wrapper", error_keys: [:places], data_qa: "allocation__places" do %>

        <div class="govuk-form-group">
          <%= label_tag :places, "Say how many trainees the organisation would like to recruit -
            make sure this number is as accurate as possible.",
            class: "govuk-label" %>
          <%= number_field_tag :places, nil, min: 1, maxlength: 3, class: "govuk-input govuk-input--width-10" %>
        </div>
      </fieldset>

      <%= form.submit "Continue", class: "govuk-button", data: { qa: 'request_continue' } %>
      <% end %>
    <% end %>
  </div>
</div>
