<% if course.gcse_section_complete? %>
  <p class="govuk-summary-list-value govuk-!-margin-top-0">
    <%= required_gcse_content(course) %>
  </p>

  <p class="govuk-summary-list-value govuk-!-margin-top-0">
    <%= pending_gcse_content(course) %>
  </p>

  <p class="govuk-summary-list-value govuk-!-margin-top-0">
    <%= gcse_equivalency_content(course) %>
  </p>

  <% if course.additional_gcse_equivalencies %>
    <p class="govuk-summary-list-value">
      <%= course.additional_gcse_equivalencies %>
    </p>
  <% end %>
<% else %>
  <div class="govuk-inset-text app-inset-text app-inset-text--important">
    <p class="govuk-heading-s app-inset-text__title">GCSE and equivalency tests</p>
    <p class="govuk-body">
      <%= govuk_link_to "Enter GCSE and equivalency test requirements",
        gcses_pending_or_equivalency_tests_provider_recruitment_cycle_course_path(
          course.provider.provider_code,
          course.provider.recruitment_cycle_year,
          course.course_code,
        ) %>
    </p>
  </div>
<% end %>
