<% if course.gcse_section_complete? %>
  <p class="govuk-body">
    <%= required_gcse_content(course) %>
  </p>

  <p class="govuk-body">
    <%= pending_gcse_content(course) %>
  </p>

  <p class="govuk-body">
    <%= gcse_equivalency_content(course) %>
  </p>

  <% if course.additional_gcse_equivalencies %>
    <%= simple_format(course.additional_gcse_equivalencies, class: "govuk-body") %>
  <% end %>
<% else %>
  <%= govuk_inset_text(classes: "app-inset-text--narrow-border app-inset-text--important") do %>
    <p class="govuk-heading-s app-inset-text__title">GCSE and equivalency tests</p>
    <p class="govuk-body">
      <%= govuk_link_to "Enter GCSE and equivalency test requirements",
        gcses_pending_or_equivalency_tests_provider_recruitment_cycle_course_path(
          course.provider.provider_code,
          course.provider.recruitment_cycle_year,
          course.course_code,
        ) %>
    </p>
  <% end %>
<% end %>
