<%= content_for :page_title, "Sign in" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="app-banner app-banner--warning govuk-!-margin-bottom-7">
      <div class="app-banner__message">
        <h2 class="govuk-heading-m">Temporary sign in</h2>
        <p>
          DfE Sign In is currently experiencing problems. You need to use this
          temporary sign in page to access Publish teacher training courses.
        </p>
      </div>
    </div>

    <h1 class="govuk-heading-xl">
      Sign in
    </h1>

    <p class="govuk-body">
      Enter the email address linked to your Sign In account.
      You’ll receive a link that gives you access to Publish teacher training courses.
    </p>
    <%= form_with model: User.new , url:send_magic_link_path , builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_text_field :email, label: {text: 'Email address', size:'m'} %>
      <%= f.govuk_submit "Continue" %>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Ask for an account</h2>
    <p class="govuk-body">Don’t have an account? You can get one by emailing <%= bat_contact_mail_to %>. Please include the full names and email addresses of anyone who needs access.</p>
  </div>
</div>
