<% page_title = "What type of course?" %>
<%= content_for :page_title, title_with_error_prefix(page_title, @errors && @errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(@back_link_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: course,
      url: continue_provider_recruitment_cycle_courses_level_path(
        @provider.provider_code,
        @provider.recruitment_cycle_year,
      ),
      method: :get,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= page_title %>
      </h1>

      <%= render "courses/new_fields_holder", form: f, except_keys: [:level] do |fields| %>
        <%= f.govuk_radio_buttons_fieldset(:level,
          legend: { size: "m" },
          form_group: {
            data: { qa: "course__level" },
          }) do %>
          <%= f.govuk_radio_button :level, "primary", data: { qa: "course__primary" } %>
          <%= f.govuk_radio_button :level, "secondary", data: { qa: "course__secondary" } %>
          <%= f.govuk_radio_button :level, "further_education", link_errors: true, data: { qa: "course__further_education" } %>
        <% end %>

        <%= f.govuk_check_boxes_fieldset(:is_send, legend: { size: "m" }) do %>
          <%= f.govuk_check_box(:is_send, 1, 0,
            link_errors: true,
            multiple: false,
            checked: @course.is_send?(course, f.object, :is_send),
            data: { qa: "is_send" }) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
