<%= content_for :page_title, "Pick a course type" %>
<% content_for :before_content do %>
  <%= course_creation_back_button(@back_link_path) %>
<% end %>

<%= render 'shared/errors' %>

<h1 class="govuk-heading-xl">
  What type of course?
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: continue_provider_recruitment_cycle_courses_level_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>

      <%= render "courses/new_fields_holder", form: form, except_keys: [:level] do |fields| %>
        <h2 class="govuk-heading-m remove-top-margin">Level</h2>
        <%= render 'form_fields', form: fields %>

        <h2 class="govuk-heading-m remove-top-margin">
          Special educational needs and disability (SEND)
        </h2>

        <%= render 'courses/send/form_fields', form: fields %>
      <% end %>
    <% end %>
  </div>
</div>
