<%= content_for :page_title, "How many places would you like to request?" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(
    get_edit_initial_request_provider_recruitment_cycle_allocation_path(
      provider.provider_code,
      recruitment_cycle.year,
      training_provider.provider_code,
      id: allocation.id,
    )
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: post_edit_initial_request_provider_recruitment_cycle_allocation_path(
      provider.provider_code,
      recruitment_cycle.year,
      training_provider.provider_code,
      id: allocation.id
    ),
                  skip_enforcing_utf8: true,
                  model: form_object,
                  scope: "",
                  method: :post,
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>

      <%= form.govuk_error_summary %>
      <%= form.govuk_text_field :number_of_places,
                                value: params[:number_of_places] || allocation.number_of_places,
                                label: {
                                  text: "How many places would you like to request?",
                                  size: "xl",
                                  tag: "h1",
                                },
                                caption: {text: "#{training_provider.provider_name} ", size: 'xl'},
                                pattern: "[0-9]*",
                                inputmode: "numeric",
                                width: 10 do %>

        <p class="govuk-body govuk-!-margin-bottom-4">
          Tell us how many places the organisation would like to offer for this
          course. Make sure this number is as accurate as possible.
        </p>
      <% end %>

      <%= hidden_field_tag "training_provider_code", params[:training_provider_code] %>
      <%= hidden_field_tag "next_step", "check_answers" %>
      <%= hidden_field_tag "request_type", params[:request_type] %>

      <%= form.govuk_submit %>
    <% end %>
  </div>
</div>
