<%= content_for :page_title, "Manage notifications" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" data-qa="page-heading">
      <span class="govuk-caption-xl">Manage notifications</span>
      Changes to courses as an accredited body
    </h1>

    <p class="govuk-body">
      Receive notifications about courses that you’re the accredited body for.
      You’ll be told about any new courses added and updated about changes to
      existing courses.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with url:notifications_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
      <%= form.hidden_field :provider_code, value: params[:provider_code] %>
      <%= form.govuk_radio_buttons_fieldset(:consent,
                                            legend: { size: "m", text: "Would you like to be notified?", tag: "span" }) do %>

        <%= form.govuk_radio_button :consent, "Yes",
                                    label: { text: "Yes, send notifications to #{current_user["info"]["email"]}" } %>
        <%= form.govuk_radio_button :consent, "No", label: { text: "No" } %>
      <% end %>
      <%= form.govuk_submit "Save" %>
    <% end %>
  </div>
</div>
