<%= content_for :page_title, "Manage notifications" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" data-qa="page-heading">
      <span class="govuk-caption-xl">Notifications for accredited bodies</span>
      Changes to courses
    </h1>

    <p class="govuk-body">
      We’ll tell you when a training provider:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>publishes a new course on Find postgraduate teacher training</li>
      <li>makes a change to an existing course</li>
      <li>withdraws a course</li>
      <li>changes the vacancy status of a course</li>
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @notifications_view.user_notification_preferences,
      url: notification_path(@notifications_view.user_id),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
      <%= form.hidden_field :provider_code, value: @notifications_view.provider_code %>
      <%= form.govuk_radio_buttons_fieldset(
        :explitly_enabled,
        legend: {
          size: "l",
          text: "Would you like to receive email notifications?",
          tag: "span",
        },
      ) do %>
        <%= form.govuk_radio_button(
          :explicitly_enabled,
          true,
          label: {
            text: "Yes, send me notifications",
          },
        ) %>
        <%= form.govuk_radio_button(
          :explicitly_enabled,
          false,
          label: {
            text: "No",
          },
        ) %>
      <% end %>
      <%= form.govuk_submit "Save" %>

      <p class="govuk-body">
        <%= govuk_link_to(
          "Cancel changes",
          @notifications_view.cancel_link_path,
          class: "govuk-link--no-visited-state",
          id: "cancel-changes-link",
        ) %>
      </p>
    <% end %>
  </div>
</div>
