<% content_for :heading do %>
  Approve new access for <%= @emailed_access_request.recipient.full_name %>
<% end %>

<p class="govuk-body">
  If you made a mistake, you can <%= link_to "edit this access request",
    new_access_request_path(
      "emailed_access_request[requester_email]" => @emailed_access_request.requester_email,
      "emailed_access_request[target_email]" => @emailed_access_request.target_email,
      "emailed_access_request[first_name]" => @emailed_access_request.first_name,
      "emailed_access_request[last_name]" => @emailed_access_request.last_name,
    ), class: 'govuk-link'
  %>.
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Recipient</th>
          <td class="govuk-table__cell "><%= user_details(@emailed_access_request.recipient) if @emailed_access_request.recipient %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Will receive access to</th>
          <td class="govuk-table__cell "><%= @emailed_access_request.new_organisations_granted.map(&:name).join(", ") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= form_for @emailed_access_request, url: {action: "create"} do |f| %>
  <%= f.hidden_field :requester_email %>
  <%= f.hidden_field :target_email %>
  <%= f.hidden_field :first_name %>
  <%= f.hidden_field :last_name %>

  <%= submit_tag "Approve", class: 'govuk-button' %>
<% end %>
