<% page_title = "Visa sponsorship" %>
<%= content_for :page_title, title_with_error_prefix(page_title, @form_object.errors.present?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_provider_recruitment_cycle_path(@provider.provider_code, @provider.recruitment_cycle_year)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      model: @form_object,
      url: provider_recruitment_cycle_visas_path(@provider.provider_code, @provider.recruitment_cycle_year),
      method: :post,
      scope: "",
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
    ) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @provider.provider_name %></span>
        <%= page_title %>
      </h1>

      <%= f.govuk_radio_buttons_fieldset(:can_sponsor_student_visa,
        legend: { text: "Can you sponsor Student visas?" },
        hint: { text: "Applies to fee-paying courses" }) do %>
        <%= f.govuk_radio_button :can_sponsor_student_visa, true, label: { text: "Yes" }, link_errors: true %>
        <%= f.govuk_radio_button :can_sponsor_student_visa, false, label: { text: "No" } %>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset(:can_sponsor_skilled_worker_visa,
        legend: { text: "Can you sponsor Skilled Worker visas?" },
        hint: { text: "Applies to salaried courses" }) do %>
        <%= f.govuk_radio_button :can_sponsor_skilled_worker_visa, true, label: { text: "Yes" }, link_errors: true %>
        <%= f.govuk_radio_button :can_sponsor_skilled_worker_visa, false, label: { text: "No, or not applicable" } %>
      <% end %>

      <%= f.govuk_submit "Save and publish changes" %>
    <% end %>
  </div>
</div>
