<%= content_for :page_title, "Full time or part time?" %>
<% content_for :before_content do %>
  <%= course_creation_back_button(@back_link_path) %>
<% end %>

<%= render 'shared/errors' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: continue_provider_recruitment_cycle_courses_study_mode_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>

      <%= render "courses/new_fields_holder", form: form, except_keys: [:study_mode] do |fields| %>
        <%= render 'form_fields', form: fields %>
      <% end %>
    <% end %>
  </div>
</div>
