<%= content_for :page_title, "Prepare for the next cycle" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Prepare for the next cycle
    </h1>

    <p class="govuk-body">
      All your courses, locations and details have been copied over
      from the current recruitment cycle (<%= current_recruitment_cycle_period_text %>). You can now
      update them for <%= next_recruitment_cycle_period_text %>.
    </p>

    <p class="govuk-body">You should:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>add any new courses</li>
      <li>delete courses you're no longer running</li>
      <li>edit titles, outcomes and locations where necessary</li>
    </ul>

    <%= form_for :user, url: accept_rollover_path, method: :patch do |f| %>
      <%= f.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
