<%= content_for :page_title, t("ucas_contacts.#{@contact.type}.heading") %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_ucas_contacts_path(@provider.provider_code)) %>
<% end %>

<%= form_with model: @contact,
              url: provider_contact_path(@provider.provider_code, @contact.id),
              id: "contact_edit_form",
              scope: :contact,
              method: :put,
              builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>

  <%= form.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-qa="ucas_contacts__alerts__main_heading">
        <%= t("ucas_contacts.#{@contact.type}.heading") %>
      </h1>

      <p class="govuk-body"><%= t("ucas_contacts.#{@contact.type}.purpose") %></p>

      <% if @contact.admin? %>
        <h2 class="govuk-heading-l">Request a change to your UCAS administrator</h2>
        <p class="govuk-body" id="admin_subtext">Changes can take up to 7 days to process.</p>
      <% end %>

      <%= form.govuk_text_field :name, width: "three-quarters" %>
      <%= form.govuk_email_field :email, label: { text: "Email address" }, width: "three-quarters" %>
      <%= form.govuk_phone_field :telephone, width: "one-half" %>
      <div class="govuk-form-group">
        <%= form.govuk_check_box :permission_given, 1, 0, multiple: false, label: { text: "I give permission to share this email address with UCAS" } %>
      </div>
      <%= form.govuk_submit t("ucas_contacts.#{@contact.type}.submit", default: "Save") %>

      <p class="govuk-body">
        <%= govuk_link_to(
          "Cancel changes",
          provider_ucas_contacts_path(@provider.provider_code),
          class: "govuk-link--no-visited-state",
        ) %>
      </p>
    </div>
  </div>
<% end %>
