<%= content_for :page_title, "Pick a start date" %>

<%= render 'shared/errors' %>

<h1 class="govuk-heading-xl">
  When does the course start
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course,
                  url: continue_provider_recruitment_cycle_courses_start_date_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>

      <%= render 'shared/course_creation_hidden_fields',
        form: form,
        course_creation_params: @course_creation_params,
        except_keys: [:start_date]
      %>
      <%= render 'form_fields', form: form %>

      <%= form.submit "Continue",
                      class: "govuk-button",
                      data: { qa: 'course__save' } %>
    <% end %>
  </div>
</div>
