<%= content_for :page_title, "Who is the accredited body?" %>
<% content_for :before_content do %>
  <%= course_creation_back_button(@back_link_path) %>
<% end %>

<%= render 'shared/errors' %>

<h1 class="govuk-heading-xl">
  Who is the accredited body?
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with url: continue_provider_recruitment_cycle_courses_accredited_body_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>

      <%= render "courses/new_fields_holder", form: form, except_keys: [:accrediting_provider_code] do |fields| %>
        <div class="govuk-radios" data-module="govuk-radios" data-qa="course__accredited_body">
          <% if provider.accredited_bodies.length > 0 %>
            <%= render partial: "provider_suggestion",
              collection: provider.accredited_bodies,
              locals: { form: fields }
            %>

            <div class="govuk-radios__divider">or</div>

            <div class="govuk-radios__item">
              <%= fields.radio_button :accrediting_provider_code,
                'other',
                class: 'govuk-radios__input',
                data: { "aria-controls" => "other-container" },
                checked: @errors && @errors[:accredited_body]&.any?  %>
              <%= fields.label :accrediting_provider_code,
                "A new accredited body you’re working with",
                for: 'course_accrediting_provider_code_other',
                value: false,
                class: 'govuk-label govuk-radios__label' %>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-container">
              <%= render "provider_search_field", form: fields %>
            </div>
          <% else %>
            <%= fields.hidden_field :accrediting_provider_code, value: :other %>
            <%= render "provider_search_field", form: fields %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
