<%= content_for :page_title, "Change course title – #{course.name_and_code}" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= render 'shared/errors' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-admin-only__section">
      <div class="app-admin-only__section-header">
        <strong class="govuk-tag govuk-tag--purple">Admin Feature</strong>
      </div>

      <h1 class="govuk-heading-xl">
        Change course title
      </h1>

      <%= form_with model: course,
            url: title_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code),
            method: :put do |form| %>

        <%= render "shared/form_field",
          form: form, field: :name, label: "Course title" do |field, options| %>
          <%= form.text_field field, class: "govuk-input govuk-!-width-two-thirds" %>
        <% end %>

        <%= form.submit course.is_running? ? "Save and publish changes" : "Save",
          class: "govuk-button" %>

        <p class="govuk-body">
          <%= link_to 'Cancel changes',
            details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code),
            class: "govuk-link govuk-link--no-visited-state" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
