<%= content_for :page_title, title_with_error_prefix("Change course title – #{course.name_and_code}", course.errors.any?) %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= render "shared/errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-status-box app-status-box--admin">
      <p class="govuk-body">
        <%= govuk_tag(text: "Admin feature", colour: "purple") %>
      </p>

      <h1 class="govuk-heading-l">
        Change course title
      </h1>

      <%= form_with model: course,
                    url: title_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code),
                    method: :put do |form| %>

        <%= render "shared/form_field", form: form, field: :name, label: "Course title" do |field, options| %>
          <%= form.text_field field, class: "govuk-input govuk-!-width-two-thirds" %>
        <% end %>

        <%= form.submit course.is_running? ? "Save and publish changes" : "Save", class: "govuk-button" %>

        <p class="govuk-body">
          <%= govuk_link_to(
            "Cancel changes",
            details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code),
            class: "govuk-link--no-visited-state",
          ) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
