<%= content_for :page_title, "Course level and SEND – #{course.name_and_code}" %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= render 'shared/errors' %>

<h1 class="govuk-heading-xl">
  Course level and <abbr class="app-text-decoration-underline-dotted" title="Special educational needs and disability">SEND</abbr>
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course, url: level_send_provider_recruitment_cycle_course_path(@course.provider_code, @course.recruitment_cycle_year, @course.course_code), method: :put do |form| %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading remove-top-margin">Level</h2>
        </legend>
        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <%= form.radio_button :level, 'Primary', class: 'govuk-radios__input' %>
              <%= form.label :level, value: 'Primary', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= form.radio_button :level, 'Secondary', class: 'govuk-radios__input' %>
              <%= form.label :level, value: 'Secondary', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= form.radio_button :level, 'Further education', class: 'govuk-radios__input' %>
              <%= form.label :level, value: 'Further education', class: 'govuk-label govuk-radios__label' %>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">Special educational needs and disability (SEND)</h2>
        </legend>
        <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="checkboxes">
            <div class="govuk-checkboxes__item">
              <%= form.check_box(:is_send, checked: @course.is_send?(course, form.object, :is_send), class: 'govuk-checkboxes__input') %>
              <%= form.label(:is_send, "This course has an additional SEND specialism", class: 'govuk-label govuk-checkboxes__label') %>
            </div>
          </div>
        </div>
      </fieldset>

      <%= form.submit course.is_running? ? "Save and publish changes" : "Save", class: "govuk-button", data: { qa: 'course__save' } %>

      <p class="govuk-body">
        <%= link_to 'Cancel changes', details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code), class: "govuk-link govuk-link--no-visited-state" %>
      </p>
    <% end %>
  </div>
</div>
