<%= content_for :page_title, "Edit Fee or Salary – #{course.name_and_code}" %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= render 'shared/errors' %>

<h1 class="govuk-heading-xl">
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with model: course, url: fee_or_salary_provider_recruitment_cycle_course_path(@course.provider_code, @course.recruitment_cycle_year, @course.course_code), method: :put do |form| %>

      <%= render 'form_fields', form: form %>

      <%= form.submit course.is_running? ? "Save and publish changes" : "Save",
        class: "govuk-button", data: { qa: 'course__save' }
      %>

      <p class="govuk-body">
        <%= link_to 'Cancel changes', details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code), class: "govuk-link govuk-link--no-visited-state" %>
      </p>
    <% end %>
  </div>
</div>
