<%= content_for :page_title, "Specify an age range – #{course.name_and_code}" %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= render 'shared/errors' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course,
          url: age_range_provider_recruitment_cycle_course_path(@course.provider_code, @course.recruitment_cycle_year, @course.course_code),
          method: :put do |form| %>

      <div
        class="<%= cns("govuk-form-group", "govuk-form-group--error": @errors && @errors[:age_range_in_years]&.any?) %>"
        data-qa="course__age_range_in_years">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-xl"><%= course.name_and_code %></span>
              Specify an age range
            </h1>
          </legend>
          <%= render "shared/error_messages", field: :age_range_in_years if @errors %>
          <div class="govuk-radios" data-module="radios">
            <% @course.meta['edit_options']['age_range_in_years'].each do |value| %>
              <div class="govuk-radios__item">
                <%= form.radio_button :age_range_in_years, value, class: 'govuk-radios__input' %>
                <%= form.label :age_range_in_years,
                      t("edit_options.age_range_in_years.#{value}.label"),
                      value: value,
                      class: 'govuk-label govuk-radios__label'
                %>
              </div>
            <% end %>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <%= form.radio_button :age_range_in_years, 'Other', class: 'govuk-radios__input', data: {"aria-controls" => "other-container" },
                checked: course.other_age_range?,
                aria: { describedby: @errors && @errors[:age_range_in_years] ? "course_age_range_in_years-error" : '' } %>
              <%= form.label :age_range_in_years, t("edit_options.age_range_in_years.other.label"), value: 'Other', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__conditional" id="other-container"">
              <p class="govuk-body">Enter an age range in years, for example: 5 to 11. The course must cover 4 or more school years.</p>
              <div class="govuk-form-group ">
                <label class="govuk-label" for="course_course_age_range_in_years_other_from">From</label>
                <%= form.text_field 'course_age_range_in_years_other_from',
                    value: course.other_age_range? ? course.age_range_in_years.split('_').first : '',
                    class: 'govuk-input govuk-input--width-2' %>
              </div>
              <div class="govuk-form-group ">
                <label class="govuk-label" for="course_course_age_range_in_years_other_to">To</label>
                <%= form.text_field 'course_age_range_in_years_other_to',
                    value: course.other_age_range? ? course.age_range_in_years.split('_').last : '',
                    class: 'govuk-input govuk-input--width-2' %>
              </div>
            </div>
          </div>
        </fieldset>
      </div>


      <%= form.submit course.is_running? ? "Save and publish changes" : "Save",
        class: "govuk-button", data: { qa: 'course__save' }
      %>

      <p class="govuk-body">
        <%= link_to 'Cancel changes',
          details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code),
          class: "govuk-link govuk-link--no-visited-state" %>
      </p>
    <% end %>
  </div>
</div>
