<%= content_for :page_title, "Specify an age range – #{course.name_and_code}" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: form_object,
                  url: age_range_provider_recruitment_cycle_course_path(@course.provider_code, @course.recruitment_cycle_year, @course.course_code),
                  scope: :course,
                  method: :put,
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>

      <%= form.govuk_error_summary "You’ll need to correct some information." %>

      <%= form.govuk_radio_buttons_fieldset(:age_range_in_years, legend: { size: "l", text: "Specify an age range" }, caption: { text: course.name_and_code, size: "l" }) do %>
        <% @course.meta["edit_options"]["age_range_in_years"].each do |value| %>
          <%= form.govuk_radio_button :age_range_in_years,
            value,
            label: { text: I18n.t("edit_options.age_range_in_years.#{value}.label") },
            link_errors: true %>
        <% end %>

        <%= form.govuk_radio_divider %>

        <%= form.govuk_radio_button :age_range_in_years, "other", label: { text: "Another age range" } do %>
          <p class="govuk-body">Enter an age range in years, for example: 5 to 11. The course must cover 4 or more school years.</p>

          <%= form.govuk_text_field :course_age_range_in_years_other_from, label: { text: "From" }, class: "govuk-input govuk-input--width-2" %>

          <%= form.govuk_text_field :course_age_range_in_years_other_to, label: { text: "To" }, class: "govuk-input govuk-input--width-2" %>
        <% end %>
      <% end %>

      <%= form.govuk_submit course.is_running? ? "Save and publish changes" : "Save", data: { qa: "course__save" } %>

      <p class="govuk-body">
        <%= govuk_link_to(
          "Cancel changes",
          details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code),
          class: "govuk-link--no-visited-state",
        ) %>
      </p>
    <% end %>
  </div>
</div>
