<%= content_for :page_title, "Specify an age range" %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_courses_path(
                           @provider.provider_code,
                           @provider.recruitment_cycle_year
                        )) %>
<% end %>

<%= render 'shared/errors' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: continue_provider_recruitment_cycle_courses_age_range_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>

      <%= render "courses/new_fields_holder", form: form, except_keys: [:age_range_in_years] do |fields| %>
        <div
          class="<%= cns("govuk-form-group", "govuk-form-group--error": @errors && @errors[:age_range_in_years]&.any?) %>"
          data-qa="course__age_range_in_years">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Specify an age range
              </h1>
            </legend>
            <%= render "shared/error_messages", field: :age_range_in_years if @errors %>
            <%= render 'form_fields', form: fields %>
          </fieldset>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
