<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-schools"><%= course.placements_heading %></h2>
  <div data-qa="course__about_schools">
    <% if course.how_school_placements_work.present? %>
      <aside class="app-advice">
        <h3 class="app-advice__title">
          <span class="app-advice__caption">Advice from Get Into Teaching</span>
          Where you will train
        </h3>
        <div class="app-advice__body">
          <% if course.provider_type == "university" %>
            <%= render partial: "courses/preview/placement/hei", locals: { course: course } %>
          <% else %>
            <%= render partial: "courses/preview/placement/scitt", locals: { course: course } %>
          <% end %>
        </div>
      </aside>
      <%= markdown(course.how_school_placements_work) %>
    <% else %>
      <%= govuk_inset_text(classes: "app-inset-text app-inset-text--narrow-border app-inset-text--important") do %>
        <p class="govuk-body">Please add details for this section.</p>
      <% end %>
    <% end %>
  </div>
</div>
