<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Level
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__level">
          <%= course.level&.humanize %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <abbr class="text-decoration-underline-dotted" title="Special educational needs and disability">SEND</abbr>
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__is_send">
          <%= course.is_send? %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= 'Subject'.pluralize(course.subjects.count) %>
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__subjects">
          <%= course.sorted_subjects %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Outcome
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__qualifications">
          <%= course.outcome %>
        </dd>
      </div>

      <% if @provider.accredited_body? then %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Apprenticeship
          </dt>
          <dd class="govuk-summary-list__value" data-qa="course__apprenticeship">
            <%= course.apprenticeship? %>
          </dd>
        </div>
      <% else %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fee or salary
          </dt>
          <dd class="govuk-summary-list__value" data-qa="course__funding">
            <%= course.funding %>
          </dd>
        </div>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full or part time
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__study_mode">
          <%= course.study_mode.humanize %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Locations
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__locations">
          <% if course.site_statuses.size == 1 then %>
            <%= course.site_statuses.first.site.location_name %>
          <% else %>
            <ul class="govuk-list courses-locations-list">
              <% course.alphabetically_sorted_site_statuses.each do |site_status| %>
                <li>
                  <%= site_status.site.location_name %>
                  <% unless site_status.new_or_running? %>
                    <span class="govuk-hint govuk-!-display-inline">(not running)</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <% if @provider.sites.size == 1 then %>
            <p class="govuk-body govuk-hint">You can’t change this because you only have 1&nbsp;location</p>
            <p class="govuk-body">
              <%= link_to "Manage all your locations", provider_sites_path(@provider.provider_code), class: "govuk-link" %>
            </p>
          <% end %>
        </dd>
      </div>

      <% unless @provider.accredited_body? then %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Accredited body
          </dt>
          <dd class="govuk-summary-list__value" data-qa="course__accredited_body">
            <%= course.accrediting_provider&.provider_name %>
          </dd>
        </div>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Applications open
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__application_status">
          <%= course.open_or_closed_for_applications %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course starts
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__start_date">
          <%= l(course.start_date&.to_date, format: :short) %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Title
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__name">
          <%= course.name %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__description">
          <%= course.description %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course code
        </dt>
        <dd class="govuk-summary-list__value" data-qa="course__course_code">
          <%= course.course_code %>
        </dd>
      </div>
    </dl>
  </div>
  <% if course.is_running? || course.new_and_not_running? %>
    <div class="govuk-grid-column-one-third">
      <div class="status-box">
        <h2 class="govuk-heading-m">Changing your basic details</h2>
        <p>To make any changes to your basic details, or to <%= course.is_running? ? "withdraw" : "delete" %> this course, <%= bat_contact_mail_to "contact the Becoming a Teacher team", subject: "Edit #{course.name} (#{@provider_code}/#{course.course_code})" %>.</p>
      </div>
    </div>
  <% end %>
</div>
