<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_summary_list do |summary_list| %>
      <%= summary_list.slot(
        :row,
        key: "Level",
        value: course.level.humanize,
        html_attributes: {
          data: {
            qa: "course__level"
          }
        }
      ) %>

      <%= summary_list.slot(
        :row,
        key: raw("<abbr class=\"app-text-decoration-underline-dotted\" title=\"Special educational needs and disability\">SEND</abbr>"),
        value: course.is_send?,
        action: @course.meta["edit_options"]["show_is_send"] ? change_link_to("SEND", send_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) : nil,
        html_attributes: {
          data: {
            qa: "course__is_send"
          }
        }
      ) %>

      <% unless course.is_further_education? %>
        <%= summary_list.slot(
          :row,
          key: "Subject".pluralize(course.subjects.count),
          value: course.sorted_subjects,
          action: change_link_to("subjects", subjects_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)),
          html_attributes: {
            data: {
              qa: "course__subjects"
            }
          }
        ) %>
      <% end %>

      <% unless course.level == "further_education" %>
        <%= summary_list.slot(
          :row,
          key: "Age range",
          value: course.age_range,
          action: change_link_to("age range", age_range_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)),
          html_attributes: {
            data: {
              qa: "course__age_range"
            }
          }
        ) %>
      <% end %>

      <%= summary_list.slot(
        :row,
        key: "Outcome",
        value: course.outcome,
        action: change_link_to("outcome", outcome_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)),
        html_attributes: {
          data: {
            qa: "course__outcome"
          }
        }
      ) %>

      <% if @provider.accredited_body? %>
        <%= summary_list.slot(
          :row,
          key: "Apprenticeship",
          value: course.apprenticeship?,
          action: !course.is_published? ? change_link_to("if apprenticeship", apprenticeship_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) : nil,
          html_attributes: {
            data: {
              qa: "course__apprenticeship"
            }
          }
        ) %>
      <% else %>
        <%= summary_list.slot(
          :row,
          key: "Fee or salary",
          value: course.funding,
          action: !course.is_published? ? change_link_to("if fee or salary", fee_or_salary_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) : nil,
          html_attributes: {
            data: {
              qa: "course__funding"
            }
          }
        ) %>
      <% end %>

      <%= summary_list.slot(
        :row,
        key: "Full or part time",
        value: course.study_mode&.humanize,
        action: change_link_to("if full or part time", full_part_time_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)),
        html_attributes: {
          data: {
            qa: "course__study_mode"
          }
        }
      ) %>

      <% content_for :locations do %>
        <% if course.sites.nil? || course.sites.empty? %>
          <span class="app-!-colour-muted">None</span>
        <% elsif course.sites.size == 1 %>
          <%= course.sites.first.location_name %>
        <% else %>
          <ul class="govuk-list">
            <% course.alphabetically_sorted_sites.each do |site| %>
              <li><%= site.location_name %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <%= summary_list.slot(
        :row,
        key: "Locations",
        value: content_for(:locations),
        action: change_link_to("locations", locations_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)),
        html_attributes: {
          data: {
            qa: "course__locations"
          }
        }
      ) %>

      <% unless @provider.accredited_body? %>
        <%= summary_list.slot(
          :row,
          key: "Accredited body",
          value: course.accrediting_provider&.provider_name,
          action: !course.is_published? ? change_link_to("accredited body", accredited_body_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) : nil,
          html_attributes: {
            data: {
              qa: "course__accredited_body"
            }
          }
        ) %>
      <% end %>

      <%= summary_list.slot(
        :row,
        key: "Applications open",
        value: l(course.applications_open_from&.to_date),
        action: @course.meta["edit_options"]["show_applications_open"] ? change_link_to("date applications open", applications_open_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) : nil,
        html_attributes: {
          data: {
            qa: "course__applications_open"
          }
        }
      ) %>

      <%= summary_list.slot(
        :row,
        key: "Course starts",
        value: l(course.start_date&.to_date, format: :short),
        action: @course.meta["edit_options"]["show_start_date"] ? change_link_to("date course starts", start_date_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) : nil,
        html_attributes: {
          data: {
            qa: "course__start_date"
          }
        }
      ) %>

      <% content_for :course_name do %>
        <% if current_user["admin"] %>
          <p class="govuk-body"><%= course.name %></p>
          <div class="app-admin-only__section">
            <div class="app-admin-only__section-header">
              <%= govuk_tag(text: "Admin feature", colour: "purple") %>
            </div>
            <p class="govuk-body">Only admins can make changes</p>
          </div>
        <% else %>
          <%= course.name %>
        <% end %>
      <% end %>
      <%= summary_list.slot(
        :row,
        key: "Title",
        value: content_for(:course_name),
        action: current_user["admin"] ? change_link_to("course title", title_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) : nil,
        html_attributes: {
          data: {
            qa: "course__name"
          }
        }
      ) %>

      <%= summary_list.slot(
        :row,
        key: "Description",
        value: course.description,
        html_attributes: {
          data: {
            qa: "course__description"
          }
        }
      ) %>

      <%= summary_list.slot(
        :row,
        key: "Course code",
        value: course.course_code,
        html_attributes: {
          data: {
            qa: "course__course_code"
          }
        }
      ) %>

      <% if course.gcse_subjects_required.any? %>
        <% content_for :entry_requirements do %>
          <% course.gcse_subjects_required.each do |subject| %>
            <%= render partial: 'courses/entry_requirements',
              locals: {
                gcse_subject: subject.titleize,
                gcse_subject_code: course[subject]
              } %>
          <% end %>
        <% end %>
        <%= summary_list.slot(
          :row,
          key: "UCAS Apply: GCSE requirements for applicants",
          value: content_for(:entry_requirements),
          action: change_link_to("entry requirements", entry_requirements_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)),
          html_attributes: {
            data: {
              qa: "course__entry_requirements"
            }
          }
        ) %>
      <% end %>

      <% if course.next_cycle? && course.has_fees? %>
        <% content_for :allocations do %>
          <% if course.has_physical_education_subject? %>
            <p class="govuk-body">Recruitment to fee-funded PE courses is limited by the number of places allocated to you by DfE.</p>
            <p class="govuk-body">If you haven’t already, you must <%= govuk_link_to "request allocations", "https://docs.google.com/forms/d/e/1FAIpQLScxhMGaYil9KB4XWfVXG7Y_VQ-lmmr_xEkjWetcjIgLgTCIIA/viewform?usp=sf_link" %></p>
          <% else %>
            Recruitment is not restricted
          <% end %>
        <% end %>
        <%= summary_list.slot(
          :row,
          key: "Allocations",
          value: content_for(:allocations),
          html_attributes: {
            data: {
              qa: "course__allocations"
            }
          }
        ) %>
      <% end %>
    <% end %>
  </div>

  <% if course.is_running? || course.new_and_not_running? %>
    <aside class="govuk-grid-column-one-third">
      <div class="app-related">
        <h2 class="govuk-heading-m">Changing your basic details</h2>
        <p class="govuk-body">At the moment you can change:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><abbr class="app-text-decoration-underline-dotted" title="Special educational needs and disability">SEND</abbr> specialism</li>
          <% course.listing_basic_details.each do |details| %>
            <li><%= details %></li>
          <% end %>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-0">
          To request other changes to your basic details contact the Becoming a Teacher team:<br>
          <%= bat_contact_mail_to subject: "Edit #{course.name} (#{@provider.provider_code}/#{course.course_code})", data: { qa: "course__contact_support_link" } %>
        </p>
      </div>
    </aside>
  <% end %>
</div>
