<tr class="govuk-table__row">
  <td class="govuk-table__cell course-table__course-name" data-qa="courses-table__course">
    <%= govuk_link_to "#{course.name_and_code}",
      provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
      class: "govuk-link govuk-heading-s govuk-!-margin-bottom-0"
    %>
    <span class="govuk-body-s"><%= course.description %></span>
  </td>
  <% if show_legacy_courses_table? %>
    <td class="govuk-table__cell" data-qa="courses-table__ucas-status">
      <%= course.ucas_status %>
    </td>
  <% end %>
  <td class="govuk-table__cell" data-qa="courses-table__status">
    <% unless course.not_running? %>
      <%= course.status_tag %>
    <% end %>
  </td>
  <td class="govuk-table__cell" data-qa="courses-table__findable">
    <%= course.on_find(@provider) %>
  </td>
  <td class="govuk-table__cell" data-qa="courses-table__applications">
    <% if course.is_running? %>
      <%= course.open_or_closed_for_applications %>
    <% end %>
  </td>
  <% if @recruitment_cycle.current? %>
    <td class="govuk-table__cell" data-qa="courses-table__vacancies">
      <% if course.is_running? %>
        <%= course.vacancies %>
      <% end %>
    </td>
  <% end %>
</tr>
