<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">Course length</h2>
    </legend>
    <div class="govuk-radios" data-module="radios">
      <div class="govuk-radios__item">
        <%= f.radio_button :course_length, 'OneYear', class: 'govuk-radios__input' %>
        <%= f.label :course_length, '1 year', class: 'govuk-label govuk-radios__label', for: 'course_course_length_oneyear' %>
      </div>
      <div class="govuk-radios__item">
        <%= f.radio_button :course_length, 'TwoYears', class: 'govuk-radios__input' %>
        <%= f.label :course_length, 'Up to 2 years', class: 'govuk-label govuk-radios__label', for: 'course_course_length_twoyears' %>
      </div>
      <div class="govuk-radios__item">
        <%= f.radio_button :course_length, 'Other', class: 'govuk-radios__input', data: {"aria-controls" => "other-container" } %>
        <%= f.label :course_length, 'Other', class: 'govuk-label govuk-radios__label', for: 'course_course_length_other' %>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-container">
        <div class="form-group">
          <%= f.label :course_length, 'Course Length', class: 'govuk-label govuk-label--s', for: 'course_course_length_other_length' %>
          <%= f.text_field :course_length, class: 'govuk-input' %>
        </div>
      </div>
    </div>
  </fieldset>
</div>
