<div id="course_length_wrapper" class="<%= cns("govuk-form-group", "govuk-form-group--error": @errors[:course_length]&.any?) %>">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">Course length</h2>
    </legend>

    <%= render "shared/error_messages", field: :course_length %>

    <div class="govuk-radios" data-module="radios">
      <div class="govuk-radios__item">
        <%= f.radio_button :course_length, 'OneYear', class: 'govuk-radios__input',
          checked: (course.course_length == 'OneYear' && course.course_length != 'Other'),
          aria: { describedby: @errors[:course_length] ? "course_length-error" : '' } %>
        <%= f.label :course_length, '1 year', value: 'OneYear', class: 'govuk-label govuk-radios__label', for: "course_course_length_oneyear" %>
      </div>
      <div class="govuk-radios__item">
        <%= f.radio_button :course_length, 'TwoYears', class: 'govuk-radios__input',
          checked: (course.course_length == 'TwoYears' && course.course_length != 'Other'),
          aria: { describedby: @errors[:course_length] ? "course_length-error" : '' } %>
        <%= f.label :course_length, 'Up to 2 years', value: 'TwoYears', class: 'govuk-label govuk-radios__label', for: "course_course_length_twoyears" %>
      </div>
      <div class="govuk-radios__item">
        <%= f.radio_button :course_length, 'Other', class: 'govuk-radios__input', data: {"aria-controls" => "other-container" },
          checked: !(course.course_length == 'OneYear' || course.course_length == 'TwoYears'),
          aria: { describedby: @errors[:course_length] ? "course_length-error" : '' } %>
        <%= f.label :course_length, 'Other', value: 'Other', class: 'govuk-label govuk-radios__label', for: "course_course_length_other" %>
      </div>
      <div class="govuk-radios__conditional" id="other-container">
        <div class="form-group">
          <%= f.label 'course_length_other_length', 'Course length', class: 'govuk-label govuk-label--s' %>
          <%= f.text_field 'course_length_other_length', value: course.course_length, class: 'govuk-input',
            aria: { describedby: @errors[:course_length] ? "course_length-error" : '' } %>
        </div>
      </div>
    </div>
  </fieldset>
</div>
