<% if course.is_withdrawn? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      This course has been withdrawn
    </strong>
  </div>
<% end %>

<h3 class="govuk-heading-m govuk-!-font-size-27">
  <%= link_to 'About this course', about_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), class: 'govuk-link' %>
</h3>
<dl class="govuk-summary-list govuk-summary-list--short">
  <%= enrichment_summary_item(:course, 'About this course', course.about_course, ['about_course']) %>
  <%= enrichment_summary_item(:course, 'Interview process (optional)', course.interview_process, ['interview_process']) %>
  <%= enrichment_summary_item(:course, course.placements_heading, course.how_school_placements_work, ['how_school_placements_work']) %>
</dl>

<h3 class="govuk-heading-m govuk-!-font-size-27">
  <% if course.has_fees? %>
    <%= link_to 'Course length and fees', fees_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), class: 'govuk-link' %>
  <% else %>
    <%= link_to 'Course length and salary', salary_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), class: 'govuk-link' %>
  <% end %>
</h3>
<dl class="govuk-summary-list govuk-summary-list--short">
  <%= enrichment_summary_item(:course, 'Course length', course.length, ['course_length']) %>

  <% if course.has_fees? %>
    <%= enrichment_summary_item(:course, 'Fee for UK students', number_to_currency(course.fee_uk_eu), ['fee_uk_eu']) %>
    <%= enrichment_summary_item(:course, 'Fee for international students (optional)', number_to_currency(course.fee_international), ['international_fees']) %>
    <%= enrichment_summary_item(:course, 'Fee details (optional)', course.fee_details, ['fee_details']) %>
    <%= enrichment_summary_item(:course, 'Financial support you offer (optional)', course.financial_support, ['financial_support']) %>
  <% else %>
    <%= enrichment_summary_item(:course, 'Salary', course.salary_details, ['salary_details']) %>
  <% end %>
</dl>

<h3 class="govuk-heading-m govuk-!-font-size-27">
  <%= link_to 'Requirements and eligibility', requirements_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), class: 'govuk-link' %>
</h3>
<dl class="govuk-summary-list govuk-summary-list--short">
  <%= enrichment_summary_item(:course, 'Qualifications needed', course.required_qualifications, ['required_qualifications']) %>
  <%= enrichment_summary_item(:course, 'Personal qualities (optional)', course.personal_qualities, ['personal_qualities']) %>
  <%= enrichment_summary_item(:course, 'Other requirements (optional)', course.other_requirements, ['other_requirements']) %>
</dl>
