<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m govuk-!-font-size-27">
      <%= link_to 'About this course', manage_ui_course_page_url(provider_code: @provider[:provider_code], course_code: @course.attributes[:course_code]) + '/about', class: 'govuk-link' %>
    </h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          About this course
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__value--truncate <%= 'course-parts__fields__value--empty' if @course.attributes[:about_course].nil? %>" data-qa="course__about">
          <%= @course.attributes[:about_course] || 'Empty' %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Interview process (optional)
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__value--truncate <%= 'course-parts__fields__value--empty' if @course.attributes[:interview_process].nil? %>" data-qa="course__interview_process">
          <%= @course.attributes[:interview_process] || 'Empty' %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How school placements work
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__value--truncate <%= 'course-parts__fields__value--empty' if @course.attributes[:how_school_placements_work].nil? %>" data-qa="course__placements_info">
          <%= @course.attributes[:how_school_placements_work] || 'Empty' %>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m">
      <%= link_to 'Course length and fees', manage_ui_course_page_url(provider_code: @provider[:provider_code], course_code: @course.attributes[:course_code]) + '/fees-and-length', class: 'govuk-link' %>
    </h3>
    <dl class="govuk-summary-list govuk-summary-list--short">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key ">
          Course length
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__value--truncate <%= 'course-parts__fields__value--empty' if @course.attributes[:course_length].nil? %>" data-qa="course__length">
          <%= @course.attributes[:course_length] || 'Empty' %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key ">
          Fee for UK and EU students
        </dt>
        <dd class="govuk-summary-list__value <%= 'course-parts__fields__value--empty' if @course.attributes[:fee_uk_eu].nil? %>" data-qa="course__uk_fees">
          <%= number_to_currency(@course.attributes[:fee_uk_eu]) || 'Empty' %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key ">
          Fee for international students (optional)
        </dt>
        <dd class="govuk-summary-list__value <%= 'course-parts__fields__value--empty' if @course.attributes[:fee_international].nil? %>" data-qa="course__international_fees">
          <%= number_to_currency(@course.attributes[:fee_international]) || 'Empty' %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key ">
          Fee details (optional)
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__value--truncate <%= 'course-parts__fields__value--empty' if @course.attributes[:fee_details].nil? %>" data-qa="course__fee_details">
          <%= @course.attributes[:fee_details] || 'Empty' %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key ">
          Financial support you offer (optional)
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__value--truncate <%= 'course-parts__fields__value--empty' if @course.attributes[:financial_support].nil? %>" data-qa="course__financial_support">
          <%= @course.attributes[:financial_support] || 'Empty' %>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-font-size-27">
      <%= link_to 'Requirements and eligibility', manage_ui_course_page_url(provider_code: @provider[:provider_code], course_code: @course.attributes[:course_code]) + '/requirements', class: 'govuk-link' %>
    </h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key " id="section-Qualifications">
          Qualifications needed
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__value--truncate <%= 'course-parts__fields__value--empty' if @course.attributes[:required_qualifications].nil? %>" data-qa="course__required_qualifications">
          <%= @course.attributes[:required_qualifications] || 'Empty' %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key " id="section-PersonalQualities">
          Personal qualities (optional)
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__value--truncate <%= 'course-parts__fields__value--empty' if @course.attributes[:personal_qualities].nil? %>" data-qa="course__personal_qualities">
          <%= @course.attributes[:personal_qualities] || 'Empty' %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key " id="section-OtherRequirements">
          Other requirements (optional)
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__value--truncate <%= 'course-parts__fields__value--empty' if @course.attributes[:other_requirements].nil? %>" data-qa="course__other_requirements">
          <%= @course.attributes[:other_requirements] || 'Empty' %>
        </dd>
      </div>
    </dl>

  </div>
</div>
