<% case gcse_subject_code %>
<% when 'must_have_qualification_at_application_time' %>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-bottom-0">
    <%= gcse_subject %> GCSE (Code 1 – ‘Must have’)
  </h3>
  <p class="govuk-body govuk-hint">UCAS will block applications from candidates who haven’t gained their <%= gcse_subject %> GCSE yet or who need to take an equivalency test.</p>
<% when 'expect_to_achieve_before_training_begins' %>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-bottom-0">
    <%= gcse_subject %> GCSE (Code 2 – ‘Taking’)
  </h3>
  <p class="govuk-body govuk-hint">You will consider candidates with a pending <%= gcse_subject %> GCSE. But UCAS will block applications from someone who needs to take an equivalency test.</p>
<% when 'equivalence_test' %>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-bottom-0">
    <%= gcse_subject %> GCSE (Code 3 – ‘Equivalence test’)
  </h3>
  <p class="govuk-body govuk-hint">You will consider candidates who need to take an equivalency test as well as those with a pending <%= gcse_subject %> GCSE.</p>
<% else %>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-bottom-0">
    <%= gcse_subject %> GCSE (No code)
  </h3>
  <p class="govuk-body govuk-hint">You have no <%= gcse_subject %> GCSE requirement.</p>
<% end %>
