<div class="status-box">
  <h3 class="govuk-heading-m">Status</h3>
  <div class="govuk-!-margin-bottom-6">
    <%= @course.content_status_badge %>
  </div>
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Is it on Find?</h3>
  <p class="govuk-body" data-qa="course__is_findable">
    <%= @course.on_find %>
  </p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Applications</h3>
  <p class="govuk-body" data-qa="course__open_for_applications"><%= @course.open_or_closed_for_applications %></p>

  <h3 class="govuk-heading-s govuk-!-margin-0">Vacancies</h3>
  <p class="govuk-body" data-qa="course__has_vacancies">
    <%= @course.vacancies %>
  </p>

  <% if @course.last_published_at.present? %>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
    <p class="govuk-body">Last published:<br><%= l(@course.last_published_at&.to_date) %></p>
  <% end %>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  <% if @course.is_running? %>
    <h3 class="govuk-heading-m">Withdraw</h3>
    <p class="govuk-body">Remove this course from Find and close applications.</p>
    <%= link_to 'Withdraw this course', withdraw_provider_course_path(@provider.provider_code, @course.course_code), class: "govuk-link--destructive" %>
  <% else %>
    <h3 class="govuk-heading-m">Delete</h3>
    <p class="govuk-body">Remove this course from Find and close applications.</p>
    <%= link_to 'Delete this course', delete_provider_course_path(@provider.provider_code, @course.course_code), class: "govuk-link--destructive" %>
  <% end %>
</div>
