<div class="related">
  <h3 class="govuk-heading-m">Status</h3>
  <div class="govuk-!-margin-bottom-6" data-qa="course__content-status">
    <%= course.status_tag %>
  </div>
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Is it on Find?</h3>
  <p class="govuk-body" data-qa="course__is_findable">
    <%= course.on_find %>
  </p>

  <% if course.is_published? && course.is_running? %>
    <%= render partial: 'courses/status_panel/published' %>
  <% else %>
    <%= render partial: 'courses/status_panel/unpublished' %>
  <% end %>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  <% if course.is_running? %>
    <h3 class="govuk-heading-m">Withdraw</h3>
    <p class="govuk-body">Remove this course from Find and close applications.</p>
    <%= link_to 'Withdraw this course', withdraw_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), class: "govuk-link--destructive", data: { qa: "course__withdraw-link" } %>
  <% elsif course.new_and_not_running? %>
    <h3 class="govuk-heading-m govuk-visually-hidden">Delete</h3>
    <%= link_to 'Delete this course', delete_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), class: "govuk-link--destructive", data: { qa: "course__delete-link" } %>
  <% end %>
</div>
