<%= content_for :page_title, "About this course – #{course.name_and_code}" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= render partial: 'courses/copy_content_warning',
                    locals: { copied_fields: @copied_fields } if params[:copy_from].present? %>

<%= render 'shared/errors' %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= course.name_and_code %></span>
  About this course
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course, url: about_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), data: { qa: 'enrichment-form', module: 'form' } do |f| %>
      <%= f.hidden_field :page, value: :about %>
      <p class="govuk-body">You should give a short, factual summary of the course.</p>

      <p class="govuk-body">Tell applicants:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>what they’ll learn</li>
        <li>how the course is structured – eg its timetable</li>
        <li>whether the course has any distinctive features</li>
      </ul>

      <p class="govuk-body">You could include key details such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how much time is spent in school</li>
        <li>how candidates are assessed</li>
        <li>the workload (eg how many essays per term?)</li>
        <li>how many locations candidates will have to go to</li>
        <li>league-table rankings</li>
      </ul>

      <p class="govuk-body">Don’t repeat the same description for different courses. If you’re copying content you should tailor it to fit this course.</p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Several courses in the same subject?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">If you offer more than one course in the same subject - eg two Primary courses - it’s important to say how they differ (eg differences in school placements or in the focus of the training). Otherwise, applicants may be unable to decide between them.</p>
        </div>
      </details>

      <div id="about_course_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="400">
        <%= render "shared/form_field",
          form: f, field: :about_course, label: 'About this course', label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 20, class: 'govuk-textarea js-character-count') %>
        <% end %>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">Interview process</h3>

      <p class="govuk-body">Give applicants a summary of the interview process.</p>

      <p class="govuk-body">This could include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>who’ll be interviewing them</li>
        <li>how many interviews they’ll need to attend</li>
        <li>details of any tests they’ll need to sit</li>
      </ul>

      <div id="interview_process_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="250">
        <%= render "shared/form_field",
          form: f, field: :interview_process, label: 'Interview process (optional)', label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 15, class: 'govuk-textarea js-character-count') %>
        <% end %>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">How school placements work</h3>

      <p class="govuk-body">Tell applicants more about the schools they’ll be teaching in.</p>

      <p class="govuk-body">You should say:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how many placements a candidate will have</li>
        <li>how placement schools are selected</li>
        <li>the average distance a candidate will have to travel from home to school</li>
      </ul>

      <p class="govuk-body">You could also include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the age ranges they’ll be teaching (eg 11 to 16 or 11 to 18)</li>
        <li>how many schools you partner with in total</li>
      </ul>

      <div id="how_school_placements_work_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="350">
        <%= render "shared/form_field",
          form: f, field: :how_school_placements_work, label: 'How school placements work', label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 15, class: 'govuk-textarea js-character-count') %>
        <% end %>
      </div>

      <%= f.submit "Save", class: "govuk-button", data: { qa: 'course__save' } %>

      <p class="govuk-body">
        <%= link_to 'Cancel changes', provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), class: "govuk-link govuk-link--no-visited-state" %>
      </p>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: 'courses/related_sidebar',
                        locals: {
                          course: course,
                          page_path: about_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code) } %>
  </div>
</div>
