<%= content_for :page_title, "#{@errors.present? ? "Error: " : ""}New course" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your answers before confirming
    </h1>
    <%= render 'shared/errors' %>
    <%= form_with model: course,
                  url: provider_recruitment_cycle_courses_path(@provider.provider_code, @provider.recruitment_cycle_year),
                  method: :post do |f| %>
      <%= render 'shared/course_creation_hidden_fields',
        form: f,
        course_creation_params: @course_creation_params,
        except_keys: []
      %>
      <hr class="govuk-section-break govuk-section-break--l">
      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-full">
          <dl class="govuk-summary-list govuk-!-margin-bottom-0" data-qa="course__details">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Level
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__level">
                <%= course.level&.humanize %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <%= course_creation_change_button(
                  "level",
                  "level",
                  :new_provider_recruitment_cycle_courses_level_path
                ) %>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <abbr class="app-text-decoration-underline-dotted" title="Special educational needs and disability">SEND</abbr>
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__is_send">
                <%= course.is_send? %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <%= course_creation_change_button(
                  "SEND",
                  "is_send",
                  :new_provider_recruitment_cycle_courses_level_path
                ) %>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <%= 'Subject'.pluralize(course.subjects.count) %>
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__subjects">
                <%= course.sorted_subjects %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <%= course_creation_change_button(
                  "subjects",
                  "subjects",
                  :new_provider_recruitment_cycle_courses_subjects_path
                ) %>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Age range
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__age_range">
                <%= course.age_range %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <%= course_creation_change_button(
                  "age range",
                  "age_range",
                  :new_provider_recruitment_cycle_courses_age_range_path
                ) %>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Outcome
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__qualifications">
                <%= course.outcome %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <%= course_creation_change_button(
                  "outcome",
                  "qualifications",
                  :new_provider_recruitment_cycle_courses_outcome_path
                ) %>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Apprenticeship
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__apprenticeship">
                <%= course.apprenticeship? %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <%= course_creation_change_button(
                  "apprenticeship",
                  "apprenticeship",
                  :new_provider_recruitment_cycle_courses_apprenticeship_path
                ) %>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Full or part time
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__study_mode">
                <%= course.study_mode.humanize %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <%= course_creation_change_button(
                  "full time or part time",
                  "study_mode",
                  :new_provider_recruitment_cycle_courses_study_mode_path
                ) %>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Locations
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__locations">
                <% if course.sites.nil? || course.sites.empty? %>
                  <span class="app-course-parts__fields__value--empty">None</span>
                <% elsif course.sites.size == 1 %>
                  <%= course.sites.first.location_name %>
                <% else %>
                  <ul class="govuk-list app-courses-locations-list">
                    <% course.alphabetically_sorted_sites.each do |site| %>
                      <li>
                        <%= site.location_name %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <%= course_creation_change_button(
                  "locations",
                  "locations",
                  :new_provider_recruitment_cycle_courses_locations_path
                ) %>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Applications open
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__application_open_from">
                <%= l(course.applications_open_from&.to_date) %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <%= course_creation_change_button(
                  "applications open date",
                  "application_open_from",
                  :new_provider_recruitment_cycle_courses_applications_open_path
                ) %>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course starts
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__start_date">
                <% if course.start_date.present? %>
                  <%= l(course.start_date&.to_date, format: :short) %>
                <% end %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <%= course_creation_change_button(
                  "start date",
                  "start_date",
                  :new_provider_recruitment_cycle_courses_start_date_path
                ) %>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Title
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__name">
                <%= course.name %>
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Description
              </dt>
              <dd class="govuk-summary-list__value" data-qa="course__description">
                <%= course.description %>
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <% if course.gcse_subjects_required.any? %>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  UCAS Apply: GCSE requirements for applicants
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-right-0" data-qa="course__entry_requirements">
                  <% course.gcse_subjects_required.each do |subject| %>
                    <%= render partial: 'courses/entry_requirements',
                      locals: {
                      gcse_subject: subject.titleize,
                      gcse_subject_code: course[subject]
                    } %>
                  <% end %>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <%= course_creation_change_button(
                    "entry requirements",
                    "entry_requirements",
                    :new_provider_recruitment_cycle_courses_entry_requirements_path
                  ) %>
                </dd>
              </div>
            <% end %>
            <% if course.next_cycle? && course.has_fees? %>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Allocations
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-right-0" data-qa="course__allocations_info">
                  <% if course.has_physical_education_subject? %>
                    <p class="govuk-body">Recruitment to fee-funded PE courses is limited by the number of places allocated to you by DfE.</p>
                    <p class="govuk-body">If you haven't already, you must <%= govuk_link_to "request allocations", "https://docs.google.com/forms/d/e/1FAIpQLScxhMGaYil9KB4XWfVXG7Y_VQ-lmmr_xEkjWetcjIgLgTCIIA/viewform?usp=sf_link" %></p>
                  <% else %>
                    Recruitment is not restricted
                  <% end %>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
            <% end %>
          </dl>
        </div>
      </div>

      <div data-qa="course__preview">
        <h2 class="govuk-heading-l">Preview</h2>
        <p class="govuk-body">See how this course will appear when it’s published on Find postgraduate teacher training:</p>
        <div class="govuk-inset-text">
          <h3 class="govuk-heading-m" data-qa="course__name">
            <span class="govuk-heading-s govuk-!-margin-bottom-0"><%= @provider.provider_name %></span>
            <%= course.name %>
          </h3>
          <p class="govuk-body" data-qa="course__description">Course: <%= course.description %></p>
        </div>
      </div>

      <%= f.submit "Save new course",
        class: "govuk-button",
        data: { qa: 'course__save' } %>
       <p class="govuk-body">Saving this course will not publish it.</p>
    <% end %>
  </div>
</div>
