<%= content_for :page_title, "Course length and fees - #{course.name_and_code}" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= render partial: 'courses/copy_content_warning',
                    locals: { copied_fields: @copied_fields } if params[:copy_from].present? %>

<%= render 'shared/errors' %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= course.name_and_code %></span>
  Course length and fees
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course, url: fees_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), data: { qa: 'enrichment-form' } do |f| %>
      <%= f.hidden_field :page, value: :fees %>
      <%= render partial: 'courses/course_length', locals: { f: f } %>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">Course fees</h3>
      <div id="fee_uk_eu_wrapper" class="govuk-form-group ">
        <%= render "shared/form_field",
          form: f, field: :fee_uk_eu, label: 'Fee for UK and EU students',
          label_bold: true do |field, options| %>
          <div class="govuk-currency-input">
            <div class="govuk-currency-input__inner">
              <span class="govuk-currency-input__inner__unit">£</span>
              <%= f.text_field field, options.merge(
                class: 'govuk-currency-input__inner__input govuk-input govuk-input--width-10',
                value: number_with_precision(course.fee_uk_eu, precision: 2, strip_insignificant_zeros: true)
              ) %>
            </div>
          </div>
        <% end %>
      </div>

      <div id="fee_international_wrapper" class="govuk-form-group">
        <%= render "shared/form_field",
          form: f, field: :fee_international, label: 'Fee for international students (optional)',
          label_bold: true do |field, options| %>
          <div class="govuk-currency-input">
            <div class="govuk-currency-input__inner">
              <span class="govuk-currency-input__inner__unit">£</span>
              <%= f.text_field field, options.merge(
                class: 'govuk-currency-input__inner__input govuk-input govuk-input--width-10',
                value: number_with_precision(course.fee_international, precision: 2, strip_insignificant_zeros: true)
              ) %>
            </div>
          </div>
        <% end %>
      </div>

      <h4 class="govuk-heading-m">Fee details</h4>
      <p class="govuk-body">If applicable, give further details about the fees for this course.</p>
      <p class="govuk-body">This could include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>any top up fees</li>
        <li>any other costs</li>
      </ul>

      <div id="fee_details_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="250">
        <%= render "shared/form_field",
          form: f, field: :fee_details, label: 'Fee details (optional)', label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 15, class: 'govuk-textarea js-character-count') %>
        <% end %>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h2 class="govuk-heading-l">Financial support you offer</h2>
      <p class="govuk-body">If applicable, say more about the financial support you offer for this course. For example, any bursaries available.</p>
      <p class="govuk-body">You don’t need to add details of any DfE bursaries and subject scholarships here. These will be published automatically to your course page</p>

      <div id="financial_support_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="250">
        <%= render "shared/form_field",
          form: f, field: :financial_support, label: 'Financial support you offer (optional)', label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 15, class: 'govuk-textarea js-character-count') %>
        <% end %>
      </div>

      <%= f.submit "Save", class: "govuk-button", data: { qa: 'course__save' } %>

      <p class="govuk-body">
        <%= link_to 'Cancel changes', provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), class: "govuk-link govuk-link--no-visited-state" %>
      </p>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render partial: 'courses/related_sidebar',
                        locals: {
                          course: course,
                          page_path: fees_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code) } %>
  </div>
</div>
