<%= content_for :page_title, "Courses" %>

<nav class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <% if @has_multiple_providers then %>
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to "Organisations", providers_path, class: "govuk-breadcrumbs__link" %>
      </li>
    <% end %>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to @provider[:institution_name], provider_path(code: @provider[:institution_code]), class: "govuk-breadcrumbs__link" %>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      Courses
    </li>
  </ol>
</nav>

<main role="main" class="govuk-main-wrapper" id="main-content">
  <h1 class="govuk-heading-xl">Courses</h1>

  <p class="govuk-body">Use this section to:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>write about each course</li>
    <li>preview and publish courses</li>
    <li>copy content between courses</li>
  </ul>

  <h2 class="govuk-heading-m" style="border: 3px solid red">
    <span class="govuk-caption-m">Accredited body</span>
    Bradford College
  </h2>

  <table class="govuk-table ucas-info-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Course</th>
        <th class="govuk-table__header">UCAS Status</th>
        <th class="govuk-table__header">Content</th>
        <th class="govuk-table__header">Is it on <abbr class="text-decoration-underline-dotted" title="Find postgraduate teacher training">Find</abbr>?</th>
        <th class="govuk-table__header">Applications</th>
        <th class="govuk-table__header">Vacancies</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @courses.each do |course| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-qa="courses-table__course">
            <%= govuk_link_to "#{ course.attributes[:name] } (#{ course.attributes[:course_code] })",
              manage_ui_course_page_url(provider_code: @provider[:institution_code], course_code: course.attributes[:course_code]),
              class: "govuk-link govuk-heading-s govuk-!-margin-bottom-0"
            %>
            <span class="govuk-body-s"><%= course.attributes[:description] %></span>
          </td>
          <td class="govuk-table__cell" style="border: 3px solid red">
            Running
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag phase-tag--small phase-tag--published" style="border: 3px solid red">Published</span>
          </td>
          <td class="govuk-table__cell" data-qa="courses-table__findable">
            <% if course.attributes[:findable?] %>
              <a class="govuk-link" href="#TODO" style="border: 3px solid red">Yes - view online</a>
            <% else %>
              No
            <% end %>
          </td>
          <td class="govuk-table__cell" data-qa="courses-table__applications">
            <% if course.attributes[:applications_being_accepted_now?] %>
              Open
            <% else %>
              Closed
            <% end %>
          </td>
          <td class="govuk-table__cell" data-qa="courses-table__vacancies">
            <% if course.attributes[:has_vacancies?] %>
              Yes
            <% else %>
              No
            <% end %>
            (<%= link_to 'Edit', vacancies_provider_course_path(code: course.attributes[:course_code]), class: 'govuk-link' %>)
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
