<%= content_for :page_title, @provider.rolled_over? ? "Courses – #{@recruitment_cycle.title}" : "Courses" %>
<%= content_for :before_content, render_breadcrumbs(:courses) %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= @recruitment_cycle.title %></span>
  Courses
</h1>
<p class="govuk-body">Use this section to:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
  <li>write about each course</li>
  <li>preview and publish courses</li>
  <li>assign locations to a course</li>
  <li>copy content between courses</li>
</ul>

<% if @provider.courses.count > 10 %>
  <%= create_course_link(@provider, data: {qa: "course-create"} ) %>
<% end %>

<% if @self_accredited_courses %>
  <section data-qa="courses__table-section">
    <%= render partial: 'course_table', locals: { courses: @self_accredited_courses } %>
  </section>
<% end %>

<% @courses_by_accrediting_provider.each do |accrediting_provider, courses| %>
  <section data-qa="courses__table-section">
    <h2 class="govuk-heading-m">
      <span class="govuk-caption-m">Accredited body</span>
      <%= accrediting_provider %>
    </h2>

    <%= render partial: 'course_table', locals: { courses: courses } %>
  </section>
<% end %>

<%= create_course_link(@provider, data: {qa: "course-create"} ) %>
