<%= content_for :page_title, "Courses" %>

<% content_for :before_content do %>
  <nav class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to @provider[:provider_name], provider_path(code: @provider[:provider_code]), class: "govuk-breadcrumbs__link" %>
      </li>
    </ol>
  </nav>
<% end %>

<h1 class="govuk-heading-xl">Courses</h1>

<p class="govuk-body">Use this section to:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
  <li>write about each course</li>
  <li>preview and publish courses</li>
  <li>copy content between courses</li>
</ul>

<% if @provider.courses.count > 10 && @provider.opted_in? %>
  <%= add_course_link(@provider) %>
  <p class="govuk-body-s govuk-!-margin-bottom-6">You’ll be taken to a Google Form to fill in your course details.</p>
<% end %>

<%= render partial: 'course_table', locals: { courses: @self_accredited_courses } if @self_accredited_courses %>

<% @courses_by_accrediting_provider.each do |accrediting_provider, courses| %>
  <h2 class="govuk-heading-m">
    <span class="govuk-caption-m">Accredited body</span>
    <%= accrediting_provider %>
  </h2>

  <%= render partial: 'course_table', locals: { courses: courses } %>
<% end %>

<% if @provider.opted_in? %>
  <%= add_course_link(@provider) %>
  <p class="govuk-body-s">You’ll be taken to a Google Form to fill in your course details.</p>
<% end %>
