<%= content_for :page_title, "#{course.name_and_code} - Courses" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_course_path(course.provider.provider_code, course.course_code)) %>
<% end %>

<% if params[:copy_from].present? %>
  <div class="govuk-warning-summary" aria-labelledby="warning-summary-heading" tabindex="-1" data-module="error-summary" data-copy-course="warning" role="alert">
    <h2 class="govuk-heading govuk-warning-summary__title" id="warning-summary-heading">
      Your changes are not yet saved
    </h2>
    <div class="govuk-warning-summary__body">
      <p class="govuk-body">
        We’ve copied these fields from <%= @source_course.name %> (<%= @source_course.course_code %>):
      </p>
      <ul class="govuk-list">
        <li><%= link_to 'Qualifications needed', '#required_qualifications_wrapper', class: 'govuk-link' %></li>
        <li><%= link_to 'Personal qualities', '#personal_qualities_wrapper', class: 'govuk-link' %></li>
        <li><%= link_to 'Other requirements', '#other_requirements_wrapper', class: 'govuk-link' %></li>
      </ul>
      <p class="govuk-body">
        Please check them and make your changes before saving.
      </p>
    </div>
  </div>
<% end %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= course.name_and_code %></span>
  Requirements and eligibility
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for course, url: publish_provider_course_path(course.provider.provider_code, course.course_code), method: :post do |f| %>
      <h3 class="govuk-heading-l remove-top-margin">Qualifications needed</h3>

      <p class="govuk-body">State the minimum academic qualifications needed for this course.</p>

      <div id="required_qualifications_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="100">
        <div class="govuk-form-group">
          <%= f.label :required_qualifications, 'Qualifications needed', class: 'govuk-label govuk-label--s' %>
          <%= f.text_area :required_qualifications, rows: 10, class: 'govuk-textarea js-character-count' %>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">Personal qualities</h3>

      <p class="govuk-body">Tell applicants about the skills and motivation you’re looking for (eg experience with children, a genuine passion for teaching, or a talent for public speaking).</p>

      <div id="personal_qualities_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="100">
        <div class="govuk-form-group">
          <%= f.label :personal_qualities, 'Personal qualities (optional)', class: 'govuk-label govuk-label--s' %>
          <%= f.text_area :personal_qualities, rows: 10, class: 'govuk-textarea js-character-count' %>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">Other requirements</h3>

      <p class="govuk-body">If applicants need any non-academic qualifications or documents, list them here (eg criminal record checks, or relevant work experience).</p>

      <div id="other_requirements_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="100">
        <div class="govuk-form-group">
          <%= f.label :other_requirements, 'Other requirements (optional)', class: 'govuk-label govuk-label--s' %>
          <%= f.text_area :other_requirements, rows: 10, class: 'govuk-textarea js-character-count' %>
        </div>
      </div>

      <%= f.submit "Save", class: "govuk-button", data: { qa: 'course__save' } %>

      <p class="govuk-body">
        <%= link_to 'Cancel changes', provider_course_path(course.provider.provider_code, course.course_code), class: "govuk-link" %>
      </p>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: 'courses/related_sidebar',
                        locals: {
                          course: course,
                          page_path: requirements_provider_course_path(course.provider.provider_code, course.course_code) } %>
  </div>
</div>
