<% if @provider.recruitment_cycle_year.to_i >= Provider::CHANGES_INTRODUCED_IN_2022_CYCLE %>
  <%= content_for :page_title, title_with_error_prefix("Personal qualities and other requirements – #{course.name_and_code}", course.errors.any?) %>
<% else %>
  <%= content_for :page_title, title_with_error_prefix("Requirements and eligibility – #{course.name_and_code}", course.errors.any?) %>
<% end %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<% if params[:copy_from].present? %>
  <%= render partial: "courses/copy_content_warning", locals: { copied_fields: @copied_fields } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course,
                  url: requirements_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
                  data: { qa: "enrichment-form", module: "form-check-leave" },
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= course.name_and_code %></span>
        <% if @provider.recruitment_cycle_year.to_i >= Provider::CHANGES_INTRODUCED_IN_2022_CYCLE %>
          Personal qualities and other requirements
        <% else %>
          Requirements and eligibility
        <% end %>
      </h1>

      <%= f.hidden_field :page, value: :requirements %>

      <% if @provider.recruitment_cycle_year.to_i < Provider::CHANGES_INTRODUCED_IN_2022_CYCLE %>
        <%= f.govuk_text_area :required_qualifications,
          label: { text: "Qualifications needed", size: "m" },
          hint: { text: "State the minimum academic qualifications needed for this course. You could also say what happens if these requirements aren’t met." },
          max_words: 100,
          rows: 10 %>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
      <% end %>

      <%= f.govuk_text_area :personal_qualities,
        form_group: { id: "personal-qualities" },
        label: { text: "Personal qualities (optional)", size: "m" },
        hint: { text: "Tell applicants about the skills, motivation and experience you’re looking for (eg experience with children, a genuine passion for the subject, or a talent for public speaking)." },
        max_words: 100,
        rows: 10 %>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <%= f.govuk_text_area :other_requirements,
        form_group: { id: "other-requirements" },
        label: { text: "Other requirements (optional)", size: "m" },
        hint: { text: "If applicants need any non-academic qualifications or documents, list them here (eg criminal record checks, or relevant work experience)." },
        max_words: 100,
        rows: 10 %>

      <%= f.govuk_submit "Save" %>

      <p class="govuk-body">
        <%= govuk_link_to(
          "Cancel changes",
          provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
          class: "govuk-link--no-visited-state",
        ) %>
      </p>
    <% end %>
  </div>

  <aside class="govuk-grid-column-one-third">
    <%= render(
      partial: "courses/related_sidebar",
      locals: {
        course: course,
        page_path: requirements_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
      },
    ) %>
  </aside>
</div>
