<%= content_for :page_title, "Requirements and eligibility – #{course.name_and_code}" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<% if params[:copy_from].present? %>
  <%= render partial: "courses/copy_content_warning", locals: { copied_fields: @copied_fields } %>
<% end %>

<%= form_with model: course,
              url: requirements_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
              builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_error_summary %>
<% end %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= course.name_and_code %></span>
  Requirements and eligibility
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course,
                  url: requirements_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
                  data: { qa: "enrichment-form", module: "form-check-leave" },
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= f.hidden_field :page, value: :requirements %>

      <h3 class="govuk-heading-l remove-top-margin">Qualifications needed</h3>

      <p class="govuk-body">
        State the minimum academic qualifications needed for this course.
        You could also say what happens if these requirements aren’t met.
      </p>

      <p class="govuk-body">We show guidance in this section. It tells candidates:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>what qualifications they need to teach in England</li>
        <li>where to go to find out about international qualifications</li>
        <li>why they might need to do a subject knowledge enhancement course</li>
      </ul>

      <%= govuk_details(summary: "See the guidance") do %>
        <h3 class="govuk-heading-m">Qualifications</h3>
        <p class="govuk-body">To be a teacher in England you need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a degree or an equivalent qualification</li>
          <li>English and Maths GCSEs at grade 4 (C) or above</li>
          <li>For primary teaching, a science subject GCSE at grade 4 (C) or above</li>
        </ul>
        <p class="govuk-body">You can find out more about entry requirements, and how it works if you have studied overseas, at <%= govuk_link_to "Get Into Teaching", "https://getintoteaching.education.gov.uk/steps-to-become-a-teacher" %>.</p>
        <h4 class="govuk-heading-s">Refreshing your subject knowledge</h4>
        <p class="govuk-body">If you have the right qualities and qualifications to teach but need to refresh your subject knowledge, you might be asked to complete a <%= govuk_link_to "subject knowledge enhancement (SKE) course", "https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/subject-knowledge-enhancement-ske-courses" %>.</p>
        <p class="govuk-body">You’ll find out if you need to complete an SKE course after the interview stage.</p>
      <% end %>

      <%= f.govuk_text_area :required_qualifications, label: { text: "Qualifications needed", size: "s" }, max_words: 100, rows: 10 %>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">Personal qualities</h3>

      <p class="govuk-body">
        Tell applicants about the skills, motivation and experience you’re looking for
        (eg experience with children, a genuine passion for the subject, or a talent for public speaking).
      </p>

      <%= f.govuk_text_area :personal_qualities, label: { text: "Personal qualities (optional)", size: "s" }, max_words: 100, rows: 10 %>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">Other requirements</h3>

      <p class="govuk-body">
        If applicants need any non-academic qualifications or documents, list them here
        (eg criminal record checks, or relevant work experience).
      </p>

      <%= f.govuk_text_area :other_requirements, label: { text: "Other requirements (optional)", size: "s" }, max_words: 100, rows: 10 %>

      <%= f.govuk_submit "Save" %>

      <p class="govuk-body">
        <%= govuk_link_to(
          "Cancel changes",
          provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
          class: "govuk-link--no-visited-state",
        ) %>
      </p>
    <% end %>
  </div>

  <aside class="govuk-grid-column-one-third">
    <%= render(
      partial: "courses/related_sidebar",
      locals: {
        course: course,
        page_path: requirements_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
      },
    ) %>
  </aside>
</div>
