<%= content_for :page_title, "Requirements and eligibility – #{course.name_and_code}" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(description_provider_course_path(@provider.provider_code, course.course_code)) %>
<% end %>

<%= render partial: 'courses/copy_content_warning',
                    locals: { copied_fields: @copied_fields } if params[:copy_from].present? %>

<%= render 'shared/errors' %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= course.name_and_code %></span>
  Requirements and eligibility
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course, url: requirements_provider_course_path(@provider.provider_code, course.course_code) do |f| %>
      <%= f.hidden_field :page, value: :requirements %>
      <h3 class="govuk-heading-l remove-top-margin">Qualifications needed</h3>

      <p class="govuk-body">State the minimum academic qualifications needed for this course.</p>

      <div id="required_qualifications_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="100">
        <%= render "shared/form_field",
          form: f, field: :required_qualifications, label: 'Qualifications needed', label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 10, class: 'govuk-textarea js-character-count') %>
        <% end %>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">Personal qualities</h3>

      <p class="govuk-body">Tell applicants about the skills and motivation you’re looking for (eg experience with children, a genuine passion for teaching, or a talent for public speaking).</p>

      <div id="personal_qualities_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="100">
        <%= render "shared/form_field",
          form: f, field: :personal_qualities, label: 'Personal qualities (optional)', label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 10, class: 'govuk-textarea js-character-count') %>
        <% end %>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">Other requirements</h3>

      <p class="govuk-body">If applicants need any non-academic qualifications or documents, list them here (eg criminal record checks, or relevant work experience).</p>

      <div id="other_requirements_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="100">
        <%= render "shared/form_field",
          form: f, field: :other_requirements, label: 'Other requirements (optional)', label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 10, class: 'govuk-textarea js-character-count') %>
        <% end %>
      </div>

      <%= f.submit "Save", class: "govuk-button", data: { qa: 'course__save' } %>

      <p class="govuk-body">
        <%= link_to 'Cancel changes', description_provider_course_path(@provider.provider_code, course.course_code), class: "govuk-link" %>
      </p>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: 'courses/related_sidebar',
                        locals: {
                          course: course,
                          page_path: requirements_provider_course_path(@provider.provider_code, course.course_code) } %>
  </div>
</div>
