<%= content_for :page_title, "Course length and salary - #{course.name_and_code}" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_course_path(course.provider.provider_code, course.course_code)) %>
<% end %>

<%= render partial: 'courses/copy_content_warning',
                    locals: { copied_fields: @copied_fields } if params[:copy_from].present? %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= course.name_and_code %></span>
  Course length and salary
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course, url: provider_course_path(course.provider.provider_code, course.course_code) do |f| %>
      <%= render partial: 'courses/course_length', locals: { f: f } %>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">Salary</h3>

      <p class="govuk-body">Give details about the salary for this course.</p>
      <p class="govuk-body">You should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>give an indication of the salary – if you don’t have the figure, say how it will be calculated (eg using the unqualified teachers’ pay scales)</li>
        <li>say whether there are any fees or others costs – if there are no fees for this course, you should also say so</li>
      </ul>

      <div id="salary_details_wrapper" class="govuk-character-count" data-module="character-count" data-maxwords="250">
        <div class="govuk-form-group">
          <%= f.label :salary_details, 'Salary', class: 'govuk-label govuk-label--s' %>
          <%= f.text_area :salary_details, rows: 15, class: 'govuk-textarea js-character-count' %>
        </div>
      </div>

      <%= f.submit "Save", class: "govuk-button", data: { qa: 'course__save' } %>

      <p class="govuk-body">
        <%= link_to 'Cancel changes', provider_course_path(course.provider.provider_code, course.course_code), class: "govuk-link" %>
      </p>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render partial: 'courses/related_sidebar',
                        locals: {
                          course: course,
                          page_path: salary_provider_course_path(course.provider.provider_code, course.course_code) } %>
  </div>
</div>
