<%= content_for :page_title, "Course length and salary - #{course.name_and_code}" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<% if params[:copy_from].present? %>
  <%= render partial: "courses/copy_content_warning", locals: { copied_fields: @copied_fields } %>
<% end %>

<%= render "shared/errors" %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= course.name_and_code %></span>
  Course length and salary
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course,
                  url: salary_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
                  data: { qa: "enrichment-form", module: "form-check-leave" } do |f| %>
      <%= f.hidden_field :page, value: :salary %>
      <%= render partial: "courses/course_length", locals: { f: f } %>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <h3 class="govuk-heading-l remove-top-margin">Salary</h3>

      <p class="govuk-body">Give details about the salary for this course.</p>
      <p class="govuk-body">You should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>give an indication of the salary – if you don’t have the figure, say how it will be calculated (eg using the unqualified teachers’ pay scales)</li>
        <li>say whether there are any fees or others costs – if there are no fees for this course, you should also say so</li>
      </ul>

      <div id="salary_details_wrapper" class="govuk-character-count" data-module="govuk-character-count" data-maxwords="250">
        <%= render "shared/form_field",
          form: f, field: :salary_details, label: "Salary", label_bold: true do |field, options| %>
          <%= f.text_area field, options.merge(rows: 15, class: "govuk-textarea govuk-js-character-count") %>
        <% end %>
      </div>

      <%= f.submit "Save", class: "govuk-button", data: { qa: "course__save" } %>

      <p class="govuk-body">
        <%= govuk_link_to(
          "Cancel changes",
          provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
          class: "govuk-link--no-visited-state",
        ) %>
      </p>
    <% end %>
  </div>
  <aside class="govuk-grid-column-one-third">
    <%= render(
      partial: "courses/related_sidebar",
      locals: {
        course: course,
        page_path: salary_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
      },
    ) %>
  </aside>
</div>
