<%= content_for :page_title, "#{@course.name} (#{@course.course_code}) - Courses" %>

<% content_for :before_content do %>
  <%= link_to 'Back', provider_courses_path, class: "govuk-back-link" %>
<% end %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= @course.description %></span>
  <%= @course.name %> (<%= @course.course_code %>)
</h1>
