<%= content_for :page_title, "Are you sure you want to withdraw #{course.name_and_code})?" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= course.name_and_code %></span>
      Are you sure you want to withdraw this course?
    </h1>

    <p class="govuk-body">Withdrawing this course will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>immediately remove it from Find</li>
      <li>close applications for it (they will be closed in UCAS Apply within 2 hours)</li>
    </ul>

    <p class="govuk-body">Once you’ve withdrawn a course, you can’t publish it again this cycle.</p>

    <h2 class="govuk-heading-m">Confirm withdrawal</h2>

    <%= form_with model: @course, url: withdraw_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), method: :post do |f| %>
      <div class="govuk-form-group">
        <%= f.label 'confirm_course_code', 'Type in the course code to confirm', class: 'govuk-label' %>
        <%= f.text_field 'confirm_course_code', class: 'govuk-input govuk-input--width-5' %>
      </div>
      <hr class="govuk-section-break govuk-section-break--m">
      <%= f.submit 'Yes I’m sure – withdraw this course', class: 'govuk-button govuk-button--warning' %>
    <% end %>

    <p class="govuk-body govuk-!-margin-top-5">
      <%= link_to 'Cancel', provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), class: "govuk-link govuk-link--no-visited-state" %>
    </p>
  </div>
</div>
