<% content_for :page_title, title_with_error_prefix("Are you sure you want to withdraw #{course.name_and_code})?", flash[:error] && flash[:error]["id"] == "withdraw-error") %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= course.name_and_code %></span>
      Are you sure you want to withdraw this course?
    </h1>

    <p class="govuk-body">Withdrawing this course will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>immediately remove it from Find</li>
      <li>close applications for it (they will be closed in UCAS Apply within 2 hours)</li>
    </ul>

    <p class="govuk-body">Once you’ve withdrawn a course, you can’t publish it again this cycle.</p>

    <h2 class="govuk-heading-m">Confirm withdrawal</h2>

    <%= form_with model: @course,
                  url: withdraw_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
                  method: :post do |form| %>
      <div class="govuk-form-group">
        <%= form.label "confirm_course_code", "Type in the course code to confirm", class: "govuk-label" %>
        <% if flash[:error] && flash[:error]["id"] == "withdraw-error" %>
          <span class="govuk-error-message" id="withdraw-error" data-qa="course-withdraw-error">
            <%= flash[:error]["message"] %>
          </span>
        <% end %>
        <%= form.text_field "confirm_course_code", class: "govuk-input govuk-input--width-5" %>
      </div>

      <%= form.submit "Yes I’m sure – withdraw this course", class: "govuk-button govuk-button--warning" %>
    <% end %>

    <p class="govuk-body govuk-!-margin-top-5">
      <%= govuk_link_to(
        "Cancel",
        provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
        no_visited_state: true,
      ) %>
    </p>
  </div>
</div>
