<div class="govuk-summary-list__row" data-qa="provider__<%=contact.type%>_contact">
  <dt class="govuk-summary-list__key">
    <%= heading %>
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body">
      <% if contact.present? %>
        <%= contact.name %>
        <%= contact.email %>
        <%= contact.telephone %>
      <% else %>
        Information unknown
      <% end %>
    </p>
    <p class="govuk-body-s">
      <%= purpose %>
    </p>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= link_to edit_provider_contact_path(@provider.provider_code, contact), class: "govuk-link" do %>
      Change<span class="govuk-visually-hidden"> email alerts for new applications</span>
    <% end %>
  </dd>
</div>
