<%= govuk_summary_list do |summary_list| %>
  <% UcasContactView::CONTACT_TYPES.each do |contact_type| %>
    <% contact = ucas_contact_view.contact(contact_type) %>
    <% summary_list.row(html_attributes: { data: { qa: "ucas_contact ucas_#{contact_type}_contact" } }) do |row| %>
      <% row.key { t("ucas_contacts.#{contact_type}.heading") } %>
      <% row.value do %>
        <p class="govuk-body">
          <% if contact.present? %>
            <%= contact.name %><br>
            <%= contact.email %><br>
            <%= contact.telephone %>
          <% else %>
            Information unknown
          <% end %>
        </p>
        <p class="govuk-body-s"><%= t("ucas_contacts.#{contact_type}.purpose") %></p>
      <% end %>
      <% if contact.present? %>
        <% row.action({
          href: edit_provider_contact_path(ucas_contact_view.provider_code, contact.id),
          visually_hidden_text: "email alerts for new applications",
        }) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
