<%= govuk_summary_list do |summary_list| %>
  <% UcasContactView::CONTACT_TYPES.each do |contact_type| %>
    <% contact = ucas_contact_view.contact(contact_type) %>
    <% content_for :row_value, flush: true do %>
      <p class="govuk-body">
        <% if contact.present? %>
          <%= contact.name %><br>
          <%= contact.email %><br>
          <%= contact.telephone %>
        <% else %>
          Information unknown
        <% end %>
      </p>
      <p class="govuk-body-s"><%= t("ucas_contacts.#{contact_type}.purpose") %></p>
    <% end %>
    <% summary_list.slot(
      :row,
      key: t("ucas_contacts.#{contact_type}.heading"),
      value: content_for(:row_value),
      action: contact.present? ? change_link_to("email alerts for new applications", edit_provider_contact_path(ucas_contact_view.provider_code, contact.id)) : nil,
      html_attributes: {
        data: {
          qa: "ucas_contact ucas_#{contact_type}_contact"
        }
      }
    ) %>
  <% end %>
<% end %>
