<%= content_for :page_title, "UCAS contacts" %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_path(@provider.provider_code)) %>
<% end %>

<h1 class="govuk-heading-xl">UCAS contacts</h1>

<div class="govuk-grid-row add-top-margin">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">These are contacts that were set in UCAS NetUpdate.</p>

    <p class="govuk-body">You can no longer change these contacts in NetUpdate, as NetUpdate has now been turned off.</p>

    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">What does ‘information unknown’ mean?</h2>

      <p class="govuk-body">Some of the contacts below are labelled ‘Information unknown’. This is because UCAS doesn’t have permission under the <%= link_to "General Data Protection Regulation", "https://www.gov.uk/government/publications/guide-to-the-general-data-protection-regulation", class: "govuk-link" %> (GDPR) to share these details with us.</p>

      <p class="govuk-body">You can get hold of these details by contacting the UCAS Higher Education Provider Team (HEP Team) on 0344 984 1111 or at <%= mail_to "hep_team@ucas.ac.uk", "hep_team@ucas.ac.uk", class: "govuk-link" %>.</p>

      <p class="govuk-body">Alternatively you can choose new contacts and we will send them to UCAS to update.</p>
    </div>

    <hr class="govuk-section-break govuk-section-break--l" />
  </div>
</div>

<div class="govuk-grid-row add-top-margin">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Who will UCAS contact?</h2>

    <p class="govuk-body">UCAS will contact these people at your organisation:</p>

    <dl class="govuk-summary-list govuk-!-margin-top-6 govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UCAS Teacher Training (UTT) correspondent
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__utt_contact">
            <% if @provider.utt_contact.present? %>
              <%= @provider.utt_contact[:name] %>
              <%= @provider.utt_contact[:email] %>
              <%= @provider.utt_contact[:telephone] %>
            <% else %>
              Information unknown
            <% end %>
          </p>
          <p class="govuk-body-s">
            This person will receive the UCAS monthly bulletin, which includes information about deadlines for application decisions
          </p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          web-link correspondent
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__web_link_contact">
            <% if @provider.web_link_contact.present? %>
              <%= @provider.web_link_contact[:name] %>
              <%= @provider.web_link_contact[:email] %>
              <%= @provider.web_link_contact[:telephone] %>
            <% else %>
              Information unknown
            <% end %>
          </p>
          <p class="govuk-body-s">
            This person will receive notices about UCAS systems and planned downtime
          </p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Finance contact
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__finance_contact">
            <% if @provider.finance_contact.present? %>
              <%= @provider.finance_contact[:name] %>
              <%= @provider.finance_contact[:email] %>
              <%= @provider.finance_contact[:telephone] %>
            <% else %>
              Information unknown
            <% end %>
          </p>
          <p class="govuk-body-s">
            This person will receive invoices from UCAS for payment of fees
          </p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fraud contact
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__fraud_contact">
            <% if @provider.fraud_contact.present? %>
              <%= @provider.fraud_contact[:name] %>
              <%= @provider.fraud_contact[:email] %>
              <%= @provider.fraud_contact[:telephone] %>
            <% else %>
              Information unknown
            <% end %>
          </p>
          <p class="govuk-body-s">
            This person will receive alerts about fraudulent activity (for example when a plagiarised personal statement is detected)
          </p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UCAS Administrator
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__admin_contact">
            <% if @provider.admin_contact.present? %>
              <%= @provider.admin_contact[:name] %>
              <%= @provider.admin_contact[:email] %>
              <%= @provider.admin_contact[:telephone] %>
            <% else %>
              Information unknown
            <% end %>
          </p>
          <p class="govuk-body-s">
            This person is responsible for setting up and maintaining UCAS user accounts.
          </p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>

    <hr class="govuk-section-break govuk-section-break--l" />

    <h2 class="govuk-heading-l">Letters for successful applicants</h2>
    <p class="govuk-body">UCAS sends all successful applicants a letter – this is known as a ‘GT12&nbsp;letter’.</p>

    <dl class="govuk-summary-list govuk-!-margin-top-6 govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address (or URL) printed in the letter
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__gt12_contact">
            <% if @provider.gt12_contact.present? %>
              <%= @provider.gt12_contact %>
            <% else %>
              Information unknown
            <% end %>
          </p>
          <p class="govuk-body-s">
            This person or website will receive responses from successful applicants replying to a GT12 letter.
          </p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>

    <hr class="govuk-section-break govuk-section-break--l" />

    <h2 class="govuk-heading-l">Email alerts for new applications</h2>

    <dl class="govuk-summary-list govuk-!-margin-top-6 govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Get alerts from UCAS?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__send_application_alerts">
            <% if @provider.send_application_alerts.present? %>
              <%= t("edit_options.send_application_alerts.#{@provider.send_application_alerts}.label") %>
            <% else %>
              Information unknown
            <% end %>
          </p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address (or URL) printed in the letter
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__application_alert_contact">
            <% if @provider.application_alert_contact.present? %>
              <%= @provider.application_alert_contact %>
            <% else %>
              Information unknown
            <% end %>
          </p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-related">
      <h2 class="govuk-heading-m">Changing your contact details</h2>
      <p class="govuk-body">To request changes to your UCAS contact details email the Becoming a Teacher team:<br><a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Edit%20Primary%20%282C4%2F2XNM%29">becomingateacher<wbr>@digital.education.gov.uk</a></p>
    </div>
  </div>
</div>
