<%= content_for :page_title, "UCAS contacts" %>

<%= content_for :before_content, render_breadcrumbs("ucas_contacts") %>

<h1 class="govuk-heading-xl">UCAS contacts</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">These are contacts that were set in UCAS NetUpdate.</p>

    <p class="govuk-body">You can no longer change these contacts in NetUpdate, as NetUpdate has now been turned off.</p>

    <%= govuk_inset_text do %>
      <h2 class="govuk-heading-m">What does ‘information unknown’ mean?</h2>

      <p class="govuk-body">Some of the contacts below are labelled ‘Information unknown’. This is because UCAS doesn’t have permission under the <%= govuk_link_to "General Data Protection Regulation", "https://www.gov.uk/government/publications/guide-to-the-general-data-protection-regulation" %> (GDPR) to share these details with us.</p>

      <p class="govuk-body">You can get hold of these details by contacting the UCAS Higher Education Provider Team (HEP Team) on 0344 984 1111 or at <%= mail_to "hep_team@ucas.ac.uk", "hep_team@ucas.ac.uk", class: "govuk-link" %>.</p>

      <p class="govuk-body">Alternatively you can choose new contacts and we will send them to UCAS to update.</p>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l" />
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Who will UCAS contact?</h2>

    <p class="govuk-body">UCAS will contact these people at your organisation:</p>

    <%= render partial: "ucas_contact_list", locals: { ucas_contact_view: @ucas_contact_view } %>

    <hr class="govuk-section-break govuk-section-break--l" />

    <h2 class="govuk-heading-l">Letters for successful applicants</h2>
    <p class="govuk-body">UCAS sends all successful applicants a letter – this is known as a ‘GT12&nbsp;letter’.</p>

    <dl class="govuk-summary-list govuk-!-margin-top-6 govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address (or URL) printed in the letter
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__gt12_contact">
            <% if @ucas_contact_view.gt12_contact.present? %>
              <%= @ucas_contact_view.gt12_contact %>
            <% else %>
              Information unknown
            <% end %>
          </p>
          <p class="govuk-body-s">
            This person or website will receive responses from successful applicants replying to a GT12 letter.
          </p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>

    <hr class="govuk-section-break govuk-section-break--l" />

    <h2 class="govuk-heading-l">Email alerts for new applications</h2>

    <dl class="govuk-summary-list govuk-!-margin-top-6 govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Get alerts from UCAS?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__send_application_alerts">
            <%= t("edit_options.send_application_alerts.#{@ucas_contact_view.send_application_alerts}.label") %>
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to alerts_provider_ucas_contacts_path(@ucas_contact_view.provider_code), data: { qa: 'send_application_alerts__change' } do %>
            Change<span class="govuk-visually-hidden"> email alerts for new applications</span>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
           Who are the alerts sent to?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body" data-qa="provider__application_alert_contact">
            <% if @ucas_contact_view.application_alert_contact.present? %>
              <%= @ucas_contact_view.application_alert_contact %>
            <% else %>
              Information unknown
            <% end %>
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to alerts_provider_ucas_contacts_path(@ucas_contact_view.provider_code), data: { qa: 'application_alert_contact__change' } do %>
            Change<span class="govuk-visually-hidden"> email alerts for new applications</span>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-related">
      <h2 class="govuk-heading-m">Changing your contact details</h2>
      <p class="govuk-body">To request changes to your UCAS contact details email the Becoming a Teacher team:<br><%= bat_contact_mail_to(bat_contact_email_address_with_wrap) %></p>
    </div>
  </div>
</div>
