<%= render "shared/form_field",
  form: f, field: :location_name, qa: 'location__name', label: capture { %>
    <h2 class="<%= cns("govuk-heading-m", "govuk-!-margin-bottom-0": @errors[:location_name]&.any?) %>">Name</h2>
  <% }
%>

<h2 class="govuk-heading-m govuk-!-margin-top-8">Address</h2>

<%= render "shared/form_field",
  form: f, field: :address1, label: capture { %>
    Building and street
    <span class="govuk-visually-hidden">line 1 of 2</span>
  <% }
%>

<%= render "shared/form_field",
  form: f, field: :address2, label: capture { %>
    <span class="govuk-visually-hidden">line 2 of 2</span>
  <% }
%>

<%= render "shared/form_field",
  form: f, field: :address3, label: "Town or city"
%>

<%= render "shared/form_field",
  form: f, field: :address4, label: "County"
%>

<%= render "shared/form_field",
  form: f, field: :postcode, small: true
%>

<%= render "shared/form_field",
  form: f, field: :region_code, label: "Region of UK", type: :select, select_options: Site::REGIONS
%>
