<%= render "shared/form_field",
  form: f, field: :location_name, label: capture { %>
    <h2 class="<%= cns("govuk-heading-m", "govuk-!-margin-bottom-0": @errors[:location_name]&.any?) %>">Name</h2>
  <% } do |field, options| %>
  <%= f.text_field field, options %>
<% end %>

<h2 class="govuk-heading-m govuk-!-margin-top-8">Address</h2>

<%= render "shared/form_field",
  form: f, field: :address1, label: capture { %>
    Building and street
    <span class="govuk-visually-hidden">line 1 of 2</span>
  <% } do |field, options| %>
  <%= f.text_field field, options %>
<% end %>

<%= render "shared/form_field",
  form: f, field: :address2, label: capture { %>
    <span class="govuk-visually-hidden">line 2 of 2</span>
  <% } do |field, options| %>
  <%= f.text_field field, options %>
<% end %>

<%= render "shared/form_field",
  form: f, field: :address3, label: "Town or city" do |field, options| %>
  <%= f.text_field field, options.merge(class: 'govuk-input govuk-!-width-two-thirds') %>
<% end %>

<%= render "shared/form_field",
  form: f, field: :address4, label: "County" do |field, options| %>
  <%= f.text_field field, options.merge(class: 'govuk-input govuk-!-width-two-thirds') %>
<% end %>

<%= render "shared/form_field",
  form: f, field: :postcode do |field, options| %>
  <%= f.text_field field, options.merge(class: 'govuk-input govuk-input--width-10') %>
<% end %>

<%= render "shared/form_field",
  form: f, field: :region_code, label: "Region of UK" do |field, options| %>
  <%= f.select field, Site::REGIONS, {}, options.merge(class: 'govuk-select') %>
<% end %>
