<%= content_for :page_title, "#{@errors.any? ? "Error: " : ""}#{ @site_name_before_update }" %>

<% content_for :before_content do %>
  <nav class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <% if @has_multiple_providers then %>
        <li class="govuk-breadcrumbs__list-item">
          <%= link_to "Organisations", providers_path, class: "govuk-breadcrumbs__link" %>
        </li>
      <% end %>
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to @provider.attributes[:provider_name], provider_path(code: @provider.attributes[:provider_code]), class: "govuk-breadcrumbs__link" %>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to "Locations", provider_sites_path(@provider[:provider_code]), class: "govuk-breadcrumbs__link" %>
      </li>
    </ol>
  </nav>
<% end %>

<h1 class="govuk-heading-xl"><%= @site_name_before_update %></h1>

<% if @errors.any? then %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      We could not update this location because some information is missing
    </h2>
    <p class="govuk-body">Fix the following problems and try again:</p>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @errors.each do |id, messages| %>
          <li>
            <a href="#<%= id.to_s %>-error"><%= messages.first %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @site, url: provider_site_path(params[:provider_code], @site.id), method: :put do |f| %>
      <div class="govuk-form-group<%= " govuk-form-group--error" if @errors[:location_name]&.any? %>">
        <%= f.label :location_name, class: "govuk-label" do %>
          <h2 class="govuk-heading-m">Name</h2>
        <% end %>
        <% if @errors[:location_name]&.any? then %>
          <span id="location_name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= @errors[:location_name]&.first %>
          </span>
        <% end %>
        <%= f.text_field :location_name, class: "govuk-input govuk-!-width-full", aria: { describedby: @errors[:location_name] ? "location_name-error" : '' }, data: { qa: 'location__name' } %>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Address</h2>

      <div class="govuk-form-group<%= " govuk-form-group--error" if @errors[:address1]&.any? %>">
        <%= f.label :address1, class: "govuk-label" do %>
          Building and street
          <span class="govuk-visually-hidden">line 1 of 2</span>
        <% end %>
        <% if @errors[:address1]&.any? then %>
          <span id="address1-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= @errors[:address1]&.first %>
          </span>
        <% end %>
        <%= f.text_field :address1, class: "govuk-input govuk-!-width-full", aria: { describedby: @errors[:address1] ? "address1-error" : '' } %>
      </div>

      <div class="govuk-form-group">
        <%= f.label :address1, class: "govuk-label" do %>
          <span class="govuk-visually-hidden">line 2 of 2</span>
        <% end %>
        <%= f.text_field :address2, class: "govuk-input govuk-!-width-full" %>
      </div>

      <div class="govuk-form-group<%= " govuk-form-group--error" if @errors[:address3]&.any? %>">
        <%= f.label :address3, "Town or city", class: "govuk-label" %>
        <% if @errors[:address3]&.any? then %>
          <span id="address3-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= @errors[:address3]&.first %>
          </span>
        <% end %>
        <%= f.text_field :address3, class: "govuk-input govuk-!-width-full", aria: { describedby: @errors[:address3] ? "address3-error" : '' } %>
      </div>

      <div class="govuk-form-group">
        <%= f.label :address4, "County", class: "govuk-label" %>
        <%= f.text_field :address4, class: "govuk-input govuk-!-width-full" %>
      </div>

      <div class="govuk-form-group<%= " govuk-form-group--error" if @errors[:postcode]&.any? %>">
        <%= f.label :postcode, class: "govuk-label" %>
        <% if @errors[:postcode]&.any? then %>
          <span id="postcode-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= @errors[:postcode]&.first %>
          </span>
        <% end %>
        <%= f.text_field :postcode, class: "govuk-input form-control-small", aria: { describedby: @errors[:postcode] ? "postcode-error" : '' } %>
      </div>

      <div class="govuk-form-group<%= " govuk-form-group--error" if @errors[:region_code]&.any? %>">
        <%= f.label :region_code, "Region of UK", class: "govuk-label" %>
        <% if @errors[:region_code]&.any? then %>
          <span id="region_code-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= @errors[:region_code]&.first %>
          </span>
        <% end %>
        <%= f.select :region_code, Site::REGIONS, {}, class: "govuk-select", aria: { describedby: @errors[:region_code] ? "region_code-error": '' } %>
      </div>

      <%= f.submit "Publish changes", class: "govuk-button", data: { qa: 'location__publish-changes' } %>
    <% end %>
    <p class="govuk-body">
      <%= link_to "Cancel changes", provider_sites_path(@provider[:provider_code]), class: "govuk-link" %>
    </p>
  </div>
</div>
