<%= content_for :page_title, "Locations" %>

<% content_for :before_content do %>
  <nav class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <% if @has_multiple_providers then %>
        <li class="govuk-breadcrumbs__list-item">
          <%= link_to "Organisations", providers_path, class: "govuk-breadcrumbs__link" %>
        </li>
      <% end %>
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to @provider.attributes[:provider_name], provider_path(code: @provider.attributes[:provider_code]), class: "govuk-breadcrumbs__link" %>
      </li>
    </ol>
  </nav>
<% end %>

<h1 class="govuk-heading-xl">Locations</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">A location is a place that a candidate selects when making an application. They do this by choosing from a list on both the course page in Find and the UCAS application form.</p>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>edit location names and addresses</li>
      <li>add locations</li>
    </ul>

    <p class="govuk-body">You can assign locations to a course from the ‘Basic details’ tab on the course page.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You are limited to 37 locations by UCAS Apply.<br>
        <span class="govuk-!-font-weight-regular">Each location has a single character code.</span>
      </strong>
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">UCAS code</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <%= render @sites %>
      </tbody>
    </table>
    <% if @provider.can_add_more_sites? %>
      <%= link_to "Add a location", new_provider_site_path(@provider.provider_code), class: "govuk-button govuk-!-margin-bottom-2" %>
    <% else %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You can’t add any more locations as you’ve reached the maximum number of locations available
        </strong>
      </div>
    <% end %>
  </div>
</div>
