<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-footer__content-container">
        <p class="govuk-footer__content">
          Contact the Becoming a Teacher team for support:
          <%= bat_contact_mail_to bat_contact_email_address, subject: "Publish teacher training courses support", link_class: "govuk-footer__link" %>
        </p>
      </div>
    </div>
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list govuk-!-margin-bottom-0">
          <li class="govuk-footer__inline-list-item">
            <%= bat_contact_mail_to "Give feedback", subject: "Publish teacher training courses feedback", link_class: "govuk-footer__link" %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= link_to "Publishing guidance", guidance_path, class: "govuk-footer__link" %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= link_to "Cookies", cookies_path, class: "govuk-footer__link" %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= link_to "Privacy policy", privacy_path, class: "govuk-footer__link" %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= link_to "Accessibility", accessibility_path, class: "govuk-footer__link" %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= link_to "Terms and conditions", terms_path, class: "govuk-footer__link" %>
          </li>
        </ul>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
