<%= content_for :page_title, "When will applications open? – #{course.name_and_code}" %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code)) %>
<% end %>

<%= render 'shared/errors' %>

<h1 class="govuk-heading-xl" id="applications_open_from-error">
  When will applications open?
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: course, url: applications_open_provider_recruitment_cycle_course_path(@course.provider_code, @course.recruitment_cycle_year, @course.course_code), method: :put do |form| %>
      <div class="govuk-form-group">
        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
          <div class="govuk-radios__item">
            <%= form.radio_button :applications_open_from, @recruitment_cycle.application_start_date,
                  class: 'govuk-radios__input', data: { qa: 'applications_open_from' }
            %>
            <%= form.label :applications_open_from, course.applications_open_from_message_for(@recruitment_cycle),
                  for: "course_applications_open_from_#{@recruitment_cycle.application_start_date}",
                  class: 'govuk-label govuk-radios__label'
            %>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button :applications_open_from, 'other',
                  class: 'govuk-radios__input',
                  checked: @course.applications_open_from != @recruitment_cycle.application_start_date,
                  aria: { 'controls': 'other-container' },  data: { qa: 'applications_open_from_other' }
            %>
            <%= form.label :applications_open_from,
                  value: 'other',
                  class: 'govuk-label govuk-radios__label'
            %>
          </div>
          <div class="govuk-radios__conditional <%=
            "govuk-radios__conditional--hidden" unless @course.applications_open_from != @recruitment_cycle.application_start_date
          %>" id="other-container">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">
                  What date will applications open?
                </legend>
                <span class="govuk-hint">
                  For example, 31 10 <%= @recruitment_cycle.year %>
                </span>
                <div class="govuk-date-input">
                  <div class="govuk-date-input__item">
                    <%= render "shared/form_field",
                      form: form, field: :day do |field, options| %>
                      <%= form.text_field field, options.merge(autocomplete: 'off', class: 'govuk-input govuk-input--width-2') %>
                    <% end %>
                  </div>
                  <div class="govuk-date-input__item">
                    <%= render "shared/form_field",
                      form: form, field: :month do |field, options| %>
                      <%= form.text_field field, options.merge(autocomplete: 'off', class: 'govuk-input govuk-input--width-2') %>
                    <% end %>
                  </div>
                  <div class="govuk-date-input__item">
                    <%= render "shared/form_field",
                      form: form, field: :year do |field, options| %>
                      <%= form.text_field field, options.merge(autocomplete: 'off', class: 'govuk-input govuk-input--width-4') %>
                    <% end %>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>

      <%= form.submit course.is_running? ? "Save and publish changes" : "Save", class: "govuk-button", data: { qa: 'course__save' } %>

      <p class="govuk-body">
        <%= link_to 'Cancel changes', details_provider_recruitment_cycle_course_path(course.provider_code, course.recruitment_cycle_year, course.course_code), class: "govuk-link govuk-link--no-visited-state" %>
      </p>
    <% end %>
  </div>
</div>
