<%= content_for :page_title, "When will applications open?" %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(provider_recruitment_cycle_courses_path(
                           @provider.provider_code,
                           @provider.recruitment_cycle_year
                        )) %>
<% end %>

<%= render 'shared/errors' %>

<h1 class="govuk-heading-xl" id="applications_open_from-error">
  When will applications open?
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: continue_provider_recruitment_cycle_courses_applications_open_path(
                    @provider.provider_code,
                    @provider.recruitment_cycle_year
                  ),
                  method: :get do |form| %>

      <%= render "courses/new_fields_holder", form: form, except_keys: [:applications_open_from, :month, :day, :year] do |fields| %>
        <%= render 'form_fields', form: fields %>
      <% end %>
    <% end %>
  </div>
</div>
